<section id="styleguide-colors-view" class="view__main">

    <div class="gradient-build">
        Build (class="gradient-build")
    </div>

    <div class="gradient-organize">
        Organize (class="gradient-organize")
    </div>

    <div class="gradient-engage">
        Engage (class="gradient-engage")
    </div>

    <div class="gradient-analyze">
        Analyze (class="gradient-analyze")
    </div>

    <div class="gradient-success">
        Success (class="gradient-success")
    </div>

    <div class="gradient-error">
        Error (class="gradient-error")
    </div>

    <div class="gradient-empty">
        Empty (class="gradient-empty")
    </div>

</section>
