boto3==1.3.0
botocore==1.4.12
docutils==0.12
futures==3.0.5
jmespath==0.9.0
loggly==0.1.5
loggly-handler==0.1.2
loggly-python-handler==1.0.0
MySQL-python==1.2.5
python-dateutil==2.5.3
pytz==2016.4
requests==2.7.0
requests-futures==0.9.7
six==1.10.0
SQLAlchemy==1.0.8
