<main class="view--login">

    <!-- Main view -->
    <section class="view__main--login">
        <div class="row--skinny header--login">
            <div class="header__logo--login">
                <h1>GetTalent</h1>
            </div>
        </div>

        <div class="row--skinny">
            <div class="box">
                <h2>Reset Password</h2>

                <form class="form" ng-submit="vm.login()">
                    <div class="form__fieldset row--expanded">
                        <!-- Form: Email Address -->
                        <div class="alert alert-danger animated fadeIn" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
                        <!-- Form: Password -->
                        <div class="col--medium-12 form__col form__col--stacked">
                            <label class="form__label" for="password">Password</label>
                            <input gt-float-label class="form__input--icon--password" id="password" name="password" type="password" placeholder="Password" required ng-model="vm.password">
                        </div>
                        <!-- Form: Confirm -->
                        <div class="col--medium-12 form__col form__col--stacked">
                            <label class="form__label" for="password">Confirm</label>
                            <input gt-float-label class="form__input--icon--password" id="confirm" name="confirm" type="password" placeholder="Confirm" required ng-model="vm.confirm">
                        </div>
                    </div>
                    <div class="form__fieldset--footer row--expanded">
                        <div class="col--medium-12">
                            <button class="button--blue button--large" type="submit">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>
