<!-- Sidebar -->
<section class="view__sidebar">

    <div class="demo_menu">
        <div>getTalent ADMIN</div>
        <a ui-sref-active="active" class="active" href="/dashboard">
            Home
        </a>
        <a ui-sref-active="active" href="/pipelines">
            Organize Overview
        </a>
        <a ui-sref-active="active" href="/candidates/profile">
            Candidate Profile
        </a>
        <a ui-sref-active="active" href="/campaigns">
            Engage Overview
        </a>
        <a ui-sref-active="active" href="/campaigns/events">
            Create Event
        </a>
        <a ui-sref-active="active" href="/dashboard-styles">
            Style Guide
        </a>
        <i>For Internal Use Only</i>
    </div>

    <!-- JS Lock for DEMO Mode -->

    <script type="text/javascript">
        $('')
    </script>

    <nav class="view__sidebar__nav row--expanded">
        <div class="js--navDEMO view__sidebar__navParent col--large-3">
            <a ui-sref="dashboard" ui-sref-active="active" class="js--navItemDEMO view__sidebar__navItem" data-target="js--subnav-dashboard" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--overview"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Dashboard
                </div>
            </a>
            <a ui-sref="pipelines" ui-sref-active="active" class="js--navItemDEMO view__sidebar__navItem row--table" data-target="js--subnav-pipelines" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--build"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Build
                </div>
            </a>
            <a ui-sref="pipelines" ui-sref-active="active" class="js--navItemDEMO view__sidebar__navItem row--table" data-target="js--subnav-pipelines" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--pipelines"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Organize
                </div>
            </a>
            <a ui-sref="campaigns" ui-sref-active="active" class="js--navItemDEMO view__sidebar__navItem row--table" data-target="js--subnav-campaigns" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--campaigns"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Engage
                </div>
            </a>
            <a ui-sref="admin" ui-sref-active="active" class="js--navItemDEMO view__sidebar__navItem row--table" data-target="js--subnav-admin" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--tools"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Admin
                </div>
            </a>
        </div>

        <div class="view__sidebar__navChild col--large-9">
            <div class="js--subnav-{{menu}} view__sidebar__subNav" ng-repeat="(menu, subMenus) in vm.menuItems"> <!--ng-if="vm.state.includes(menu)"-->
                <a ui-sref-active="active" ui-sref="{{menu}}.{{subMenu}}" ng-repeat="(subMenu, menuTitle) in subMenus">{{menuTitle}}</a>
            </div>
        </div>

    </nav>
</section>
<!-- End Sidebar -->
