<!-- Sidebar -->
<section class="view__sidebar">
    <nav class="view__sidebar__nav row--expanded">
        <div class="js--nav view__sidebar__navParent col--large-3">
            <a ui-sref="dashboard" ui-sref-active="active" class="js--navItem view__sidebar__navItem" data-target="js--subnav-dashboard" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--overview"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Dashboard
                </div>
            </a>
            <a ui-sref="pipelines" ui-sref-active="active" class="js--navItem view__sidebar__navItem row--table" data-target="js--subnav-pipelines" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--pipelines"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Pipelines
                </div>
            </a>
            <a ui-sref="campaigns" ui-sref-active="active" class="js--navItem view__sidebar__navItem row--table" data-target="js--subnav-campaigns" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--campaigns"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Campaigns
                </div>
            </a>
            <a ui-sref="admin" ui-sref-active="active" class="js--navItem view__sidebar__navItem row--table" data-target="js--subnav-admin" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--tools"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Admin
                </div>
            </a>
            <a ui-sref="help" ui-sref-active="active" class="js--navItem view__sidebar__navItem row--table" data-target="js--subnav-help" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="col--large-4--cell view__sidebar__navIcon">
                    <span class="icon--tools"></span>
                </div>
                <div class="col--large-8--cell view__sidebar__navText">
                    Help
                </div>
            </a>
        </div>
        <div class="view__sidebar__navChild col--large-9">
            <div class="js--subnav-{{menu}} view__sidebar__subNav" ng-repeat="(menu, subMenus) in vm.menuItems"> <!--ng-if="vm.state.includes(menu)"-->
                <a ui-sref-active="active" ui-sref="{{menu}}.{{subMenu}}" ng-repeat="(subMenu, menuTitle) in subMenus">{{menuTitle}}</a>
            </div>
        </div>
    </nav>
</section>
<!-- End Sidebar -->
