<!-- Main view -->
<section class="view__main" id="dashboard-overview-view">

    <div layout="column" layout-margin>

        <!-- Header -->
        <md-content layout="row" layout-xs="column" layout-align="center center" class="md-whiteframe-z1">

            <div flex>
                <h3 class="md-title">Talent Pool Name</h3>
                <h3 class="md-body-1">Created by <a href="">Haohong Xu</a> on 5/22/16</h3>
            </div>
            <div layout="row" layout-xs="column" layout-sm="column">
                <md-button class="md-raised md-primary">Share</md-button>
                <md-button class="md-raised md-primary">Add Candidates</md-button>
            </div>
        </md-content>
        <!-- End: Header -->

        <!-- Begin: Dashboard -->
        <md-content layout="row" layout-xs="column" layout-align="center center" class="md-whiteframe-z1">


        </md-content>
        <!-- End: Dashboard -->

    </div>

</section>
