<!-- Main view -->
<section class="view__main" id="dashboard-overview-view">

    <div class="row--expanded row--blue hero">
        <!-- Graph: Total Candidates -->
        <div class="col--full-12">
            <header class="row--widget row--table hero__header">
                <div class="col--large-9--cell hero__header__text">
                    <h1>430 Total Candidates</h1>
                    <h3>60% Engagement</h3>
                </div>
                <div class="col--large-3--cell hero__header__action">
                    <a href="#" class="button--small button--white button--greenHover">New Pipeline</a>
                </div>
            </header>
            <figure class="js-graph--total-candidates areaGraph hero__graph"></figure>
        </div>
    </div>

    <div class="row--widget">
        <!-- Table: Most Engaged Candidates -->
        <div class="col--full-4--cell box">
            <h2>Most Engaged Candidates</h2>

            <div class="box__table">
                <table class="table">
                    <tr class="table__row">
                        <td class="table__col--3">
                            <a href="#" class="figure--circle">
                                <img src="./images/placeholder/jwhite.png" alt="Joe White">
                            </a>
                        </td>
                        <td class="table__col--6">
                            <a href="#">Joe White</a>
                            <p class="subtext">
                                Java Engineer<br>
                                Los Angeles, CA
                            </p>
                        </td>
                        <td>
                            <span class="label--big label--green">83%</span>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col--3">
                            <a href="#" class="figure--circle">
                                <img src="./images/placeholder/jwhite.png" alt="Joe White">
                            </a>
                        </td>
                        <td class="table__col--6">
                            <a href="#">Holly Alvarez</a>
                            <p class="subtext">
                                Java Engineer<br>
                                Portsmouth, CA
                            </p>
                        </td>
                        <td>
                            <span class="label--big label--green">80%</span>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col--3">
                            <a href="#" class="figure--circle">
                                <img src="./images/placeholder/jwhite.png" alt="Joe White">
                            </a>
                        </td>
                        <td class="table__col--6">
                            <a href="#">Lena Flemming</a>
                            <p class="subtext">
                                Java Engineer<br>
                                Los Angeles, CA
                            </p>
                        </td>
                        <td>
                            <span class="label--big label--green">77%</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Graph: Pipeline Engagement -->
        <div class="col--full-4--cell box--green">
            <h2>Pipeline Engagement</h2>
            <h4>Next 60 Days (Predictive)</h4>

            <figure class="js-graph--pipeline-engagement circleGraph">
            </figure>
        </div>

        <!-- Table: Active stats-->
        <div class="col--full-4--cell box--padless">
            <div class="box__half row--expanded">
                <div class="box__corner col--full-6">
                    <div class="box__corner__inner">
                        <span class="label--big label--green">15</span>
                        Active Categories
                    </div>
                </div>
                <div class="box__corner col--full-6">
                    <div class="box__corner__inner">
                        <span class="label--big label--red">21,704</span>
                        Unique Candidates
                    </div>
                </div>
            </div>
            <div class="box__half row--expanded">
                <div class="box__corner col--full-6">
                    <div class="box__corner__inner">
                        <span class="label--big label--red">62%</span>
                        Total Engagement
                    </div>
                </div>
                <div class="box__corner col--full-6">
                    <div class="box__corner__inner">
                        <span class="label--big label--green">14%</span>
                        Pipeline Engagement
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row--widget">
        <!-- Widget: Active Engagement Campaigns -->
        <div class="col--full-4--cell box">
            <header class="row--expanded">
                <div class="col--large-9">
                    <h2>Active Engagement Campaigns <span>(15)</span></h2>
                </div>
                <div class="col--large-3 align--right">
                    <select id="activeEngagementCharts" class="js-fancy" name="activeEngagementCharts">
                        <option value="">Select chart to view</option>
                        <option value="candidate-count-by-pipelines">Candidate Count by Pipelines</option>
                        <option value="candidate-growth-by-pipelines">Candidate Growth by Pipelines</option>
                        <option value="candidate-growth-by-user">Candidate Growth by User</option>
                        <option value="candidate-opt-outs-by-pipelines">Candidate Opt-Outs by Pipelines</option>
                        <option value="engagement-by-pipelines">Engagement by Pipelines</option>
                    </select>
                </div>
            </header>

            <div class="box__table">
                <table class="table">
                    <tr class="table__row">
                        <th class="table__header">Date</th>
                        <th class="table__header">Campaign Name</th>
                        <th class="table__header">Engagement</th>
                        <th class="table__header">User</th>
                        <th class="table__header">Type</th>
                        <th class="table__header">Pipeline</th>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Alan T</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--check">
                            <label gt-float-label class="form__input--checkbox">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Alan T</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--check">
                            <label gt-float-label class="form__input--checkbox">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Alan T</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--check">
                            <label gt-float-label class="form__input--checkbox">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Alan T</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--check">
                            <label gt-float-label class="form__input--checkbox">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Alan T</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--check">
                            <label gt-float-label class="form__input--checkbox">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row--widget">
        <!-- Graph: Most Engaged Candidates -->
        <div class="col--full-4--cell box">
            <h2>New Candidates</h2>
            <h4>Last 30 Days</h4>

            <div class="js-graph--new-candidates lineGraph">
            </div>
        </div>

        <!-- Blurb: Case Study -->
        <div class="col--full-8--cell box--padless">
            <article class="exerpt row--expanded">
                <div class="excerpt__hero--img col--full-6" style="background-image: url('./images/placeholder/exerpt-hero.png');"></div>
                <section class="excerpt__content col--full-6 col--right">
                    <header class="box__header">
                        <h2>Engagement Mini Case Study</h2>
                        <h4>3/18/2015</h4>
                    </header>
                    <p>The waies could be said to resemble inured halibuts. A romania is a square's sink.</p>
                    <a class="button--blue button--small" href="#">Read More</a>
                </section>
            </article>
        </div>
    </div>


    <div class="row--widget">

        <!-- Pipeline Breakdown -->
        <div class="col--full-6--cell box">
            <header class="box__header">
                <h2>Pipeline Breakdown</h2>
            </header>
            <div class="tabs">
                <nav class="tabs__nav">
                    <a class="tabs__nav__link tabs__nav__link--active" href="#top-skills">
                        Top Skills
                    </a>
                    <a class="tabs__nav__link" href="#top-locations">
                        Top Locations
                    </a>
                    <a class="tabs__nav__link" href="#top-sites">
                        Top Sites
                    </a>
                    <a class="tabs__nav__link" href="#top-referrals">
                        Top Referrals
                    </a>
                </nav>
                <div class="tabs__container">
                    <div id="top-skills" class="tabs__content tabs__content--active">
                        <ul class="list--sideBySide list-reset">
                            <li>Automatic Data Processing</li>
                            <li>Angular JS</li>
                            <li>Hadoop</li>
                            <li>HTML5</li>
                            <li>Apache Jackrabbit</li>
                            <li>Linux</li>
                            <li>Production Management</li>
                            <li>Software Troubleshooting</li>
                            <li>Sybase Unwired Platform</li>
                            <li>Location-Based Services</li>
                            <li>DevOps</li>
                            <li>LTX Credence</li>
                        </ul>
                    </div>

                    <div id="top-locations" class="tabs__content">
                        <ul class="list--sideBySide list-reset">
                            <li>Portland, OR</li>
                            <li>Detroit, MI</li>
                            <li>Orlando, FL</li>
                            <li>Santa Cruz, CA</li>
                            <li>Miami, FL</li>
                            <li>Seattle, WA</li>
                            <li>Olympia, WA</li>
                            <li>Dallas, TX</li>
                            <li>Denver, CO</li>
                        </ul>
                    </div>

                    <div id="top-sites" class="tabs__content">
                        <ul class="list--sideBySide list-reset">
                            <li>Seattle, WA</li>
                            <li>Olympia, WA</li>
                            <li>Dallas, TX</li>
                            <li>Portland, OR</li>
                            <li>Detroit, MI</li>
                            <li>Orlando, FL</li>
                            <li>Santa Cruz, CA</li>
                            <li>Miami, FL</li>
                            <li>Denver, CO</li>
                        </ul>
                    </div>

                    <div id="top-referrals" class="tabs__content">
                        <ul class="list--sideBySide list-reset">
                            <li>Miami, FL</li>
                            <li>Seattle, WA</li>
                            <li>Olympia, WA</li>
                            <li>Dallas, TX</li>
                            <li>Denver, CO</li>
                            <li>Portland, OR</li>
                            <li>Detroit, MI</li>
                            <li>Orlando, FL</li>
                            <li>Santa Cruz, CA</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- Candidate Growth by Pipeline -->
        <div class="col--full-6--cell box">
            <header class="box__header">
                <h2>Candidate Growth by Pipeline</h2>
                <h4>Next 60 Days (Predictive)</h4>
            </header>

            <figure class="progress">
                <h4>Senior Java Developers in CA</h4>

                <div class="progress__inner" style="width: 100%">
                    <div class="progress__bar"></div>
                    <div class="progress__label">120</div>
                </div>
            </figure>
            <figure class="progress">
                <h4>Vererans Hiring Initiative</h4>

                <div class="progress__inner"    style="width: 78%">
                    <div class="progress__bar"></div>
                    <div class="progress__label">78</div>
                </div>
            </figure>
            <figure class="progress">
                <h4>Oracle DBAs Overseas</h4>

                <div class="progress__inner" style="width: 25%">
                    <div class="progress__bar--red"></div>
                    <div class="progress__label">25</div>
                </div>
            </figure>
            <figure class="progress">
                <h4>Oracle DBAs Overseas</h4>

                <div class="progress__inner" style="width: 50%">
                    <div class="progress__bar--red"></div>
                    <div class="progress__label">50</div>
                </div>
            </figure>
        </div>

    </div>

    <div class="row--widget">
        <div class="col--full-12--cell box">
            <header class="box__header">
                <h2>Campaign Builder</h2>
            </header>
            <form class="form" action="#">
                <div class="form__fieldset row--expanded">
                    <!-- Form: Recipients -->
                    <div class="col--medium-6 form__col">
                        <label class="form__label" for="selectRecipients">Select Recipients *</label>
                        <select class="js-fancy form__field--select" name="selectRecipients" id="selectRecipients">
                            <option value="">Select Recipients *</option>
                            <option value="zack">Zack</option>
                            <option value="greg">Greg</option>
                            <option value="juergen">Jürgen</option>
                            <option value="viktor">Viktor</option>
                        </select>
                    </div>
                    <!-- Form: From -->
                    <div class="col--medium-6 form__col">
                        <label class="form__label" for="from">From *</label>
                        <input gt-float-label class="form__input" id="from" name="from" type="text" placeholder="From *">
                    </div>
                </div>
                <div class="form__fieldset row--expanded">
                    <!-- Form: Campaign Name -->
                    <div class="col--medium-6 form__col">
                        <label class="form__label" for="campaignName">Campaign Name *</label>
                        <input gt-float-label class="form__input" id="campaignName" name="campaignName" type="text" placeholder="Campaign Name *">
                    </div>
                    <!-- Form: Reply To -->
                    <div class="col--medium-6 form__col">
                        <label class="form__label" for="replyTo">Reply to *</label>
                        <input gt-float-label class="form__input" id="replyTo" name="replyTo" type="email" placeholder="Reply to *">
                    </div>
                </div>
                <div class="form__fieldset row--expanded">
                    <!-- Form: Subject -->
                    <div class="col--medium-6 form__col">
                        <label class="form__label" for="subject">Subject *</label>
                        <input gt-float-label class="form__input" id="subject" name="subject" type="text" placeholder="Subject *">
                    </div>
                    <!-- Form: Tracking Code -->
                    <div class="col--medium-6 form__col form__col--error">
                        <label class="form__label--shown" for="trackingCode">Tracking Code</label>
                        <input gt-float-label class="form__input" id="trackingCode" name="trackingCode" type="text" placeholder="Tracking Code" value="sdkfj-2343">
                    </div>
                </div>
                <div class="form__fieldset row--expanded">
                    <!-- Form: Select Template -->
                    <div class="col--medium-6 form__col">
                        <label class="form__label" for="selectTemplate">Select Tempalte *</label>
                        <select gt-float-label class="js-fancy form__input--select" name="selectTemplate" id="selectTemplate">
                            <option value="">Select Template *</option>
                            <option value="zack">Template – Zack</option>
                            <option value="greg">Template – Greg</option>
                            <option value="juergen">Template – Jürgen</option>
                            <option value="viktor">Template – Viktor</option>
                        </select>
                    </div>
                </div>
                <div class="form__fieldset row--expanded">
                    <div class="col--medium-12">
                        <textarea gt-float-label class="form__input--textarea" name="wysiwyg"></textarea>
                    </div>
                </div>
                <div class="form__fieldset--footer row--expanded">
                    <div class="col--medium-12">
                        <a class="button--blueOutline button--warningHover" href="#">Cancel</a>
                        <a class="button--blueOutline" href="#">Schedule</a>
                        <a class="button--blue" href="#">Send</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row--green row--expanded">
        <!-- Widget: Drag 'n Drop' -->
        <header class="row--widget row--table">
            <div class="col--large-9--cell">
                <h1>Edit Pipeline</h1>
            </div>
            <div class="col--large-3--cell col--vmiddle align--right-tiny">
                <a class="button--white" href="#">Save Pipeline</a>
            </div>
        </header>
        <section class="row--widget">
            <div class="col--large-12 box--dashed">
                <div class="dragDrop">
                    <header class="dragDrop__header">
                        <span class="dragDrop__icon icon--upload"></span>
                        <h2>Drag 'n Drop</h2>
                    </header>

                    <p>Create a pipeline with a job description or <a href="#">browse</a> for one<br> (doc, pdf, text, etc)</p>
                </div>
            </div>
        </section>
        <section class="row--widget">
            <div class="col--full-12--cell box">
                <form class="form" action="#">
                    <div class="form__fieldset row--expanded">
                        <!-- Form: Title -->
                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="title">Title *</label>
                            <input gt-float-label class="form__input" id="title" name="title" type="text" placeholder="Title *">
                        </div>
                        <!-- Form: Date Needed -->
                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="dateNeed">Date Needed *</label>
                            <input gt-float-label pick-a-date="vm.dateNeeded" ng-model="vm.dateNeededText" class="form__input" id="dateNeed" name="dateNeed" type="text" placeholder="Date Needed *">
                        </div>
                    </div>
                    <div class="form__fieldset row--expanded">
                        <!-- Form: Description -->
                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="description">Description</label>
                            <textarea gt-float-label class="form__input--shortTextarea" name="description" placeholder="Description"></textarea>
                        </div>
                        <!-- Form: Auto Archive -->
                        <div class="col--medium-6 form__col">
                            <label gt-float-label class="form__input--checkbox">
                                <input type="checkbox"> <!-- Hidden checkbox -->
                                <span></span> <!-- Custom displayed checkbox -->
                                Auto archive after this date <!-- Inside the label so you can click the text to check the checkbox -->
                            </label>
                        </div>
                    </div>

                     <div class="form__fieldset row--expanded">
                        <div class="col--medium-12">
                            <h3>Candidate Filters</h3>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col">
                            <label class="form__label--shown" for="description">Keywords <small class="form__instruction">Separate keywords with commas</small></label>
                            <input class="js-tagsInput form-field" name="skills" type="text" placeholder="Add a keyword">
                        </div>
                        <div class="col--medium-6 form__col">
                            <label class="form__label--shown" for="description">Years of Experience</label>
                            <input class="form__input--inline" name="degree" type="number" placeholder="1" min="0" max="98">
                            <span class="form__label--inbetweenInputs">to</span>
                            <input class="form__input--inline" name="degree" type="number" placeholder="5" min="1" max="99">
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col">
                            <label class="form__label--shown" for="description">Skills <small class="form__instruction">Separate skills with commas</small></label>
                            <input class="js-tagsInput form-field" name="skills" type="text" placeholder="Add a skill">
                        </div>
                        <div class="col--medium-6 form__col">
                            <label class="form__label--shown" for="description">Degree <small class="form__instruction">Separate degrees with commas</small></label>
                            <input class="js-tagsInput form-field" name="degree" type="text" placeholder="Add a degree">
                        </div>
                    </div>

                    <div class="form__fieldset--footer row--expanded">
                        <div class="col--medium-12 form__col">
                            <a class="button--blue" href="#"><span class="icon--save"></span> Save Pipeline</a>
                            <a class="button--blueOutline" href="#">Duplicate</a>
                            <a class="button--blueOutline" href="#">Archive</a>
                            <a class="button--blueOutline button--warningHover" href="#">Delete</a>
                        </div>
                    </div>
                </form>

            </div>
        </section>
    </div>

    <div class="row--widget">
        <form class="col--full-12 box" action="#" name="createEventForm">

            <header class="box__header">
                <h2>Create Event</h2>
            </header>

            <div class="row--expanded">
                <!-- left half of form -->
                <div class="col--medium-6 form__fieldset--column">
                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked">
                            <label class="form__label" for="eventTitle">Event Title</label>
                            <input gt-float-label class="form__input" id="eventTitle" name="eventTitle" type="text" placeholder="Event Title">
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-8 form__col">
                            <label class="form__label" for="eventType">Event Type</label>
                            <div class="fancy-select"><select id="eventType" class="js-fancy fancified" name="eventType" style="width: 1px; height: 1px; display: block; position: absolute; top: 0px; left: 0px; opacity: 0;">
                                <option value="">Event Type</option>
                                <option value="eventbrite">Eventbrite</option>
                                <option value="eventbrite02">Eventbrite 01</option>
                            </select><div class="trigger">Event Type</div><ul class="options"><li data-raw-value="eventbrite">Eventbrite</li><li data-raw-value="eventbrite02">Eventbrite 01</li></ul></div>
                        </div>

                        <div class="col--medium-4 form__col">
                            <h4 class="form__label--shown">Active Event?</h4>
                            <label gt-float-label class="form__input--toggle">
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked">
                            <label class="form__label" for="eventDetails">Event Details</label>
                            <textarea gt-float-label class="form__input--textarea" name="eventDetails" placeholder="Event Details"></textarea>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="eventOrganizer">Event Organizer</label>
                            <input gt-float-label class="form__input" id="eventOrganizer" name="eventOrganizer" type="text" placeholder="Event Organizer">
                        </div>

                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="eventOrganizerContentEmail">Event Organizer Content Email</label>
                            <input gt-float-label class="form__input" id="eventOrganizerContentEmail" name="eventOrganizerContentEmail" type="text" placeholder="Event Organizer Content Email">
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked">
                            <label class="form__label" for="aboutEventOrganizer">About Event Organizer</label>
                            <label class="form__label--shown" for="aboutEventOrganizer">About Event Organizer <small class="form__instruction">Enter info here about who is organizing the event</small></label>
                            <textarea gt-float-label class="form__input--textarea" name="aboutEventOrganizer"></textarea>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked">
                            <label class="form__label--shown" for="eventRegistrationInstructions">Event Registration Instructions</label>
                            <textarea gt-float-label class="form__input--shortTextarea" name="eventDetails"></textarea>
                        </div>
                    </div>
                </div>
                <!-- /left half of form -->

                <!-- right half of form -->
                <div class="col--medium-6 form__fieldset--column">
                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': createEventForm.eventStartDate.$error.required && createEventForm.eventStartDate.$touched}">
                            <label class="form__label" for="eventStartDate">Event Start Date</label>
                            <input gt-float-label pick-a-date="vm.eventStartDate" ng-model="vm.eventStartDateText" class="form__input picker__input" id="eventStartDate" name="eventStartDate" type="text" placeholder="Event Start Date" required>
                        </div>

                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': createEventForm.eventEndDate.$error.required && createEventForm.eventEndDate.$touched}">
                            <label class="form__label" for="eventEndDate">Event End Date</label>
                            <input gt-float-label pick-a-date="vm.eventEndDate" ng-model="vm.eventEndDateText" class="form__input picker__input" id="eventEndDate" name="eventEndDate" type="text" placeholder="Event End Date" required>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': createEventForm.eventStartTime.$error.required && createEventForm.eventStartTime.$touched}">
                            <label class="form__label" for="eventStartTime">Event Start Time</label>
                            <input gt-float-label pick-a-time="vm.eventStartDate" ng-model="vm.eventStartTimeText" class="form__input picker__input" id="eventStartTime" name="eventStartTime" type="text" placeholder="Event Start Time" required>
                        </div>

                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': createEventForm.eventEndTime.$error.required && createEventForm.eventEndTime.$touched}">
                            <label class="form__label" for="eventEndTime">Event End Time</label>
                            <input gt-float-label pick-a-time="vm.eventEndDate" ng-model="vm.eventEndTimeText" class="form__input picker__input" id="eventEndTime" name="eventEndTime" type="text" placeholder="Event End Time" required>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked">
                            <label class="form__label" for="locationName">Location Name</label>
                            <input gt-float-label class="form__input" ng-model="vm.eventLocationName" id="locationName" name="locationName" type="text" placeholder="Location Name">
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked">
                            <label class="form__label" for="streetAddress">Street Address</label>
                            <input gt-float-label class="form__input" value="123 Santa Clara St" id="streetAddress" name="streetAddress" type="text" placeholder="Street Address">
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="city">City</label>
                            <input gt-float-label class="form__input" id="city" name="city" type="text" placeholder="City">
                        </div>

                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="state">State</label>
                            <input gt-float-label class="form__input" id="state" name="state" type="text" placeholder="State">
                        </div>

                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="zip">Zip</label>
                            <input gt-float-label class="form__input" id="zip" name="zip" type="text" placeholder="Zip">
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="eventCost">Event Cost</label>
                            <input gt-float-label class="form__input" id="eventCost" name="eventCost" type="text" placeholder="Event Cost">
                        </div>

                        <div class="col--medium-6 form__col">
                            <label class="form__label" for="maxAttendees">Max Attendees</label>
                            <input gt-float-label class="form__input" id="maxAttendees" name="maxAttendees" type="number" placeholder="Max Attendees">
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked">
                            <label class="form__label" for="SelectSmartListsToInvites">Select Smart Lists to Invite</label>
                            <div class="fancy-select"><select id="activeEngagementCharts" class="js-fancy fancified" name="activeEngagementCharts" style="width: 1px; height: 1px; display: block; position: absolute; top: 0px; left: 0px; opacity: 0;">
                                <option value="">Select Smart Lists to Invite</option>
                                <option value="candidate-count-by-pipelines">Candidate Count by Pipelines</option>
                                <option value="candidate-growth-by-pipelines">Candidate Growth by Pipelines</option>
                                <option value="candidate-growth-by-user">Candidate Growth by User</option>
                                <option value="candidate-opt-outs-by-pipelines">Candidate Opt-Outs by Pipelines</option>
                                <option value="engagement-by-pipelines">Engagement by Pipelines</option>
                            </select><div class="trigger">Select Smart Lists to Invite</div><ul class="options overflowing"><li data-raw-value="candidate-count-by-pipelines">Candidate Count by Pipelines</li><li data-raw-value="candidate-growth-by-pipelines">Candidate Growth by Pipelines</li><li data-raw-value="candidate-growth-by-user" class="">Candidate Growth by User</li><li data-raw-value="candidate-opt-outs-by-pipelines" class="">Candidate Opt-Outs by Pipelines</li><li data-raw-value="engagement-by-pipelines" class="">Engagement by Pipelines</li></ul></div>
                            <small class="form__input-info">Candidate Leads <span class="pill">457</span></small>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked">
                            <h4 class="form__label--shown">Event Header Image</h4>

                            <label class="js-inputFile form__input--file">
                                <input type="file" aria-label="File browser">
                                <span data-placeholder="Choose file..."></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /right half of form -->
            </div>

            <div class="form__fieldset--footer row--expanded">
                <div class="col--medium-12">
                    <a class="button--blue" href="#">Save Event</a>
                    <a class="button--blueOutline" href="#">View Event</a>
                </div>
            </div>

        </form>
    </div>

    <div class="row--widget">

        <!-- Table: Active stats-->
        <div class="col--full-6--cell box box--person">
            <div class="box__header">
                <h2>Typical Candidate</h2>
            </div>

            <ul class="list--spaced">
                <li><a href="#">10-12 years experience</a></li>
                <li><a href="#">16 months at most recent job</a></li>
                <li><a href="#">Bachelor's degree</a></li>
                <li><a href="#">Not willing to relocate</a></li>
                <li><a href="#">US citizen</a></li>
                <li><a href="#">Annual income of $90,000</a></li>
            </ul>
        </div>

        <!-- Table: Top Contributions By User -->
        <div class="col--full-6--cell box">
            <header class="row--expanded box__header">
                <div class="col--small-9">
                    <h2>Top Contributions By User</h2>
                    <h4>3/18/2015</h4>
                </div>
                <div class="col--small-3">
                    <select id="topContributions-dateRange" class="js-fancy" name="topContributions--dateRange">
                        <option value="7-days">7d</option>
                        <option value="30-days">30d</option>
                        <option value="60-days">60d</option>
                        <option value="182-days">6mo</option>
                        <option value="365-days">1yr</option>
                    </select>
                </div>
            </header>

            <table class="table">
                <tr class="table__row">
                    <td class="table__col--3">
                        <a href="#" class="figure--circle">
                            <img src="./images/placeholder/jwhite.png" alt="Joe White">
                        </a>
                    </td>
                    <td class="table__col--9">
                        <a href="#">Joe White</a>
                        <p class="subtext">
                            76 New Candidates
                        </p>
                    </td>
                </tr>
                <tr class="table__row">
                    <td class="table__col--3">
                        <a href="#" class="figure--circle">
                            <img src="./images/placeholder/jwhite.png" alt="Joe White">
                        </a>
                    </td>
                    <td class="table__col--9">
                        <a href="#">Holly Alvarez</a>
                        <p class="subtext">
                            72 New Candidates
                        </p>
                    </td>
                </tr>
                <tr class="table__row">
                    <td class="table__col--3">
                        <a href="#" class="figure--circle">
                            <img src="./images/placeholder/jwhite.png" alt="Joe White">
                        </a>
                    </td>
                    <td class="table__col--9">
                        <a href="#">Lena Flemming</a>
                        <p class="subtext">
                            49 New Candidates
                        </p>
                    </td>
                </tr>
                <tr class="table__row">
                    <td class="table__col--3">
                        <a href="#" class="figure--circle">
                            <img src="./images/placeholder/jwhite.png" alt="Joe White">
                        </a>
                    </td>
                    <td class="table__col--9">
                        <a href="#">Lena Flemming</a>
                        <p class="subtext">
                            46 New Candidates
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row--green row--expanded row--table">
        <div class="col--medium-8--cell col--vmiddle">
            <div class="row--widget">
                <div class="col--tiny-4--cell">
                    <figure class="figure--circle figure--bufferRight">
                        <img src="//placehold.it/300x300" alt="Thomas Maxwell">
                    </figure>
                </div>
                <div class="col--tiny-8--cell col--vmiddle">
                    <h2>Thomas Maxwell</h2>
                    <h3>Web Developer</h3>

                    <ul class="list--buffer">
                        <li>San Jose, CA 95113</li>
                        <li>(408) 555-5289</li>
                        <li>thomas@gmail.com</li>
                    </ul>

                    <a href="" class="button--whiteOutline button--small"> <span class="icon--file"></span>View Resume</a>
                </div>
            </div>
        </div>
        <div class="col--medium-4--cell col--vmiddle box--basic box--lightGreen">
            <div class="box--clear">
                <header class="box__header">
                    <h2>Top Skills</h2>
                </header>
                <ul class="list--spaced">
                    <li>Automatic Data Processing</li>
                    <li>Angular JS</li>
                    <li>Hadoop</li>
                    <li>HTML5</li>
                    <li>Apache Jackrabbit</li>
                    <li>Linux</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row--widget">

        <!-- Table: Communication -->
        <div class="col--full-6--cell">
            <div class="box">
                <header class="box__header">
                    <h2>
                        <span class="icon--speech"></span> Communication
                    </h2>
                </header>

                <table class="table">
                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="icon--twitter"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>9/16/2015</h4>
                            <p>Follow you on Twitter</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="icon--linkedin"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>8/25/2015</h4>
                            <p>Connected with you on LinkedIn</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="icon--raised-hand"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>8/25/2015</h4>
                            <p>Raised hand re: New Opportunites</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="icon--calendar"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>8/25/2015</h4>
                            <p>Reserved a spot on your EventBrite hackathon</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="icon--checked"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>8/25/2015</h4>
                            <p>Attended your meetup at DevCon</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="icon--mail-open"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>8/25/2015</h4>
                            <p>Email opened on 12/25/2014</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="icon--mail"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>8/25/2015</h4>
                            <p>Email sent on 12/24/2014</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="icon--thumbs-up"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>8/25/2015</h4>
                            <p>Thomas Maxwell joined your pipeline</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col--full-6--cell">
            <div class="box">
                <header class="box__header">
                    <h2>
                        <span class="icon--work"></span> Work Experience
                    </h2>
                </header>
                <ul class="list--blocks">
                    <li>
                        <h3>Senior Web Developer, The Google</h3>
                        <p>The zeitgeist contends that a hardcover is the nail of a russian. We know that some posit the middling blizzard to be less than dying. The tawdry archeology comes from a stockish attempt. The shiest seed reveals itself as a woodwind kidney to those who look.</p>
                    </li>
                    <li>
                        <h3>Web Developer, Facespace</h3>
                        <p>As far as we can estimate, waitresses are glottic routes. The bills could be said to resemble lento decisions. A sphagnous rod without divisions is truly a spaghetti of columned anthropologies. The mustached observation reveals itself as a retained fibre to those who look.</p>
                    </li>
                    <li>
                        <h3>Web Developer, CloudFlare</h3>
                        <p>Mines are deathless substances. They were lost without the addle wrist that composed their dungeon. Extending this logic, few can name a cheerless elephant that isn't a joyless sail. One cannot separate couches from woesome mosques.</p>
                    </li>
                </ul>
            </div>

            <div class="box">
                <header class="box__header">
                    <h2>
                        <span class="icon--education"></span> Education
                    </h2>
                </header>
                <ul class="list--blocks">
                    <li>
                        <h3>MSCS, Stanford University</h3>
                        <p>As far as we can estimate, some posit the gruffish limit to be less than trickless. However, a biplane of the intestine is assumed to be a bracing almanac. The lumpish hurricane reveals itself as a hammy plant to those who look.</p>
                    </li>
                    <li>
                        <h3>BA Computer Sciences, Santa Clara University</h3>
                        <p>A low sees a yard as an unswayed puma. The unmoaned Sunday reveals itself as a dotted manager to those who look. Few can name a lingual deposit that isn't a custom nephew. A modest stock's hallway comes with it the thought that the crushing bath is a church.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row--green row--expanded">
        <!-- Widget: Drag 'n Drop' -->
        <header class="row--widget row--table">
            <div class="col--large-12">
                <h1>Import Resumes</h1>
            </div>
        </header>
        <section class="row--widget">
            <div class="col--full-4--cell col--vmiddle box--dashed">
                <div class="dragDrop">
                    <header class="dragDrop__header">
                        <span class="dragDrop__icon icon--file"></span>
                        <h2>Drop file(s) here to upload</h2>
                    </header>
                </div>
            </div>
            <div class="col--full-4--cell col--vmiddle box--outline">
                <div class="dragDrop">
                    <header class="dragDrop__header">
                        <h2>Files on your computer</h2>
                        <span class="dragDrop__icon icon--computer"></span>
                        <a href="#" class="button--whiteOutline button--small">Browse Files</a>
                    </header>
                </div>
            </div>
            <div class="col--full-4--cell col--vmiddle box--outline">
                <div class="dragDrop">
                    <header class="dragDrop__header">
                        <h2>Upload Using</h2>
                        <a href="#" class="dragDrop__icon--link">
                            <span class="icon--dropbox"></span>
                        </a>
                        <a href="#" class="dragDrop__icon--link">
                            <span class="icon--box"></span>
                        </a>
                        <a href="#" class="dragDrop__icon--link">
                            <span class="icon--google-drive"></span>
                        </a>
                    </header>
                </div>
            </div>
        </section>
    </div>

    <!-- Manual Entry -->
    <div class="row--widget">
        <div class="col--full-12--cell box">
            <header class="box__header">
                <h2>Manual Entry</h2>
            </header>

            <form class="form" action="#">
                <div class="form__fieldset row--expanded">
                    <div class="col--medium-4 form__col form__col--third">
                        <label class="form__label" for="firstName">First Name *</label>
                        <input gt-float-label class="form__input" id="firstName" name="firstName" type="text" placeholder="First Name *">
                    </div>
                    <div class="col--medium-4 form__col form__col--third">
                        <label class="form__label" for="lastName">Last Name *</label>
                        <input gt-float-label class="form__input" id="lastName" name="lastName" type="text" placeholder="Last Name *">
                    </div>
                    <div class="col--medium-4 form__col form__col--third">
                        <label class="form__label" for="email">Email Address *</label>
                        <input gt-float-label class="form__input" id="email" name="email" type="email" placeholder="Email Address *">
                    </div>
                </div>
                <div class="form__fieldset--footer row--expanded">
                    <div class="col--medium-12 form__col">
                        <a class="button--blue" href="#">Send</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Embed Code -->
    <div class="row--widget">
        <div class="col--full-12--cell box">
            <header class="box__header">
                <h2>Embed Code</h2>
            </header>

            <div class="form__fieldset row--expanded">
                <div class="col--medium-6 form__col">
                    <h4>Button Code</h4>

                    <pre><code class="code__wrap">&lt;object width=&quot;420&quot; height=&quot;315&quot; data=&quot;http://www.youtube.com/embed/XGSy3_Czz8k&quot;&gt;&lt;/object&gt;</code></pre>

                    <a class="button--blue" href="#">Preview</a>
                </div>
                <div class="col--medium-6 form__col">
                    <h4>Widget Code</h4>

                    <pre><code class="code__wrap">&lt;object width=&quot;420&quot; height=&quot;315&quot; data=&quot;http://www.youtube.com/embed/XGSy3_Czz8k&quot;&gt;&lt;/object&gt;</code></pre>

                    <a class="button--blue" href="#">Preview</a>
                </div>
            </div>
        </div>
    </div>

</section>
