<!-- Main view -->
<section id="talent-pools-dashboard-pipelines-view" class="view__main dashboard">

    <h3 class="md-headline team-name">{{ vm.teamName }}</h3>

    <md-content class="md-padding" layout="column" layout-gt-md="row">
        
        <!-- Left section -->
        <div flex-gt-md="75" layout="column" layout-gt-sm="row">
            
            <!-- First column -->
            <div flex-gt-sm="33" layout="column">

                <!-- Candidate Distribution -->
                <div flex layout="row">
                    <md-card flex>
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">Candidate Distribution</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content flex>
                            <div id="candidate-distribution-chart" style="height: 300px;">
                                
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <!-- End Candidate Distribution -->

                <!-- Top 5 Pipeliens by Engagement -->
                <div flex layout="row">
                    <md-card flex>
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">Top 5 Pipelines by Engagement</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content flex>
                            <div id="top-pipelines-chart" style="height: 300px;">
                                
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
                <!-- End: Top 5 Pipeliens by Engagement -->
            
            </div>
            <!-- End: First column -->
            
            <!-- Second column -->
            <div flex-gt-sm="33" layout="column">
                
                <div>
                    <md-card class="new-candidates">
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">New Candidates Today</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content flex>
                            <span class="md-display-3">{{ vm.newCandidateToday }}</span>
                        </md-card-content>
                    </md-card>
                </div>
                
                <!-- Recommended Candidates -->
                <div flex layout="row">
                    <md-card flex class="recommended-candidates">
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">
                                    Recommended Candidates
                                </span>                                
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content>
                            <md-list>
                                <md-list-item ng-repeat="candidate in vm.recommendedCandidates">
                                    <div class="md-list-item-avatar">
                                        <img alt="{{ candidate.name }}" ng-src="{{ candidate.avatar }}" class="md-avatar" />
                                        <div class="check-circle-wrap">
                                            <md-icon>check</md-icon>
                                        </div>
                                    </div>
                                    <div flex class="md-list-item-text" layout="column">
                                        <h3>
                                            {{ candidate.name }}
                                            <md-icon md-font-set="fa" md-font-icon="fa-share" ng-click="vm.viewCandidate(candidate)"></md-icon>
                                        </h3>
                                        <p>{{ candidate.activity }}</p>
                                    </div>
                                    <md-icon ng-click="vm.emailToCandidate(candidate)" aria-label="View Candidate" class="md-secondary">mail</md-icon>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>
                <!-- End: Recommended Candidates -->
            
            </div>
            <!-- End: Second column -->

            <!-- Third column -->
            <div flex-gt-sm="33" layout="column">
                
                <!-- Team Contributions -->
                <div>
                    <md-card class="team-contributions">
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">Team Contributions</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content flex>
                            <span class="md-display-3">{{ vm.teamContributions }}</span>
                        </md-card-content>
                    </md-card>
                </div>
                <!-- End: Team Contributions -->
                
                <!-- Top 10 Contributors -->
                <div flex layout="row">
                    <md-card flex class="top-contributors">
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">
                                    Top 10 Contributors
                                </span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content>
                            <md-list>
                                <md-list-item ng-repeat="contributor in vm.topContributors">
                                    <div class="md-list-item-avatar">
                                        <img alt="{{ contributor.name }}" ng-src="{{ contributor.avatar }}" class="md-avatar" />
                                    </div>
                                    <div flex layout="row" layout-align="space-between" class="md-list-item-text">
                                        <div>
                                            <h3>{{contributor.name}}</h3>
                                            <p>{{contributor.team}}</p>
                                        </div>
                                        <span class="md-display-1">{{contributor.value}}</span>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>
                <!-- End: Top 10 Contributors -->
            
            </div>
            <!-- End: Third column -->

        </div>
        <!-- End: Left section -->
        
        <!-- Activity feed -->
        <div flex-gt-md="25" layout="row">
            <div flex layout="row">
                <md-card flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Recent Activity</span>
                            <span class="md-subhead">Small</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <a href="">View All Activity</a>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <!-- End: Activity feed -->
    
    </md-content>

</section>

