<md-dialog class="onboard-welcome" aria-label="Welcome to GetTalent" ng-cloak>
    <form>
        <div class="md-dialog-content">
            <div class="welcome-graphic"><img src="/images/onboard-welcome.svg" /></div>
            <div class="md-display-3">Welcome to the your new getTalent</div>
            <p>getTalent is youtr strategic talent pipeline management and engagement platform that provides deep insight into your talent pipelines. This is your dashboard – a customizable workspace that gives a smart overview of your talent pools and pipelines.</p>
        </div>
        <md-dialog-actions layout="row" layout-align="end center">
            <span flex></span>
            <md-button class="button--blue button--small" ng-click="cancel()" md-autofocus>
                Get Started
            </md-button>
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>
e