# Base container modules. These are common modules required by all services, or modules that take a long time to install
boto==2.36.0
Flask-Cors
Flask-Migrate
Flask-OAuthlib==0.9.1
flask-restful
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask==0.10.1
gevent==1.0.2
IPython
itsdangerous==0.24
Jinja2==2.8
mysql-python==1.2.5
oauthlib==1.0.3
pytest==2.8.2
pytest-circleci
requests-oauthlib==0.5.0
requests==2.7.0
SQLAlchemy==1.0.8
uWSGI==2.0.11.1
Werkzeug==0.10.4
wheel==0.24.0
wsgiref==0.1.2

# Resume Parsing
beautifulsoup4==4.4.0
BeautifulSoup==3.2.1
ghostscript==0.4.1
html5lib==0.999999
libmagic
lxml==3.4.4
MarkupSafe==0.23
pdfminer==20110515
phonenumbers==7.0.8
Pillow==2.9.0
PyPDF2==1.25.1
python-magic==0.4.6
reportlab==3.2.0
six==1.9.0
xhtml2pdf==0.0.6

# Logging
loggly-handler==0.1.2
loggly==0.1.5

# Events code
aniso8601==1.0.0
facebook-sdk==0.4.0
fake-factory==0.5.2
greenlet==0.4.7
loggly-python-handler==1.0.0

mixer==5.2.2
python-dateutil==2.4.2
pytz==2015.4
simple-crypt==4.1.7
Flask-Limiter
newrelic
healthcheck
simplejson==3.8.0
xlrd==0.9.2
chardet==2.3.0
