// ---------------------------------------------------
// Base / Layout
// ---------------------------------------------------

// -----
// Box model
// -----

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// -----
// Base style overrides
// -----

figure {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
