// ---------------------------------------------------
// Base / Helpers
// ---------------------------------------------------

// -----
// Colors
// -----

$color--white:       #ffffff;
$color--nearBlack:     #444444;
$color--gray:          #c6c6c6;
$color--darkGray:      #373437;
$color--lightGray: #5a5a5d;
$color--nearWhite:     #efefef;
$color--black:       #212223;

$color--blue:        #009ccc;
$color--lightBlue:   #17c6fc;

$color--purple:        #5e385d;
$color--lightPurple:   #7a4979;
$color--lighterPurple: #d180d1;


// @deprecated: delete once all old modules markup and css have been removed
$color--teal:       #9ef6dc;
$color--green:      #21bd58;
$color--lightGreen: #50ca7d;
$color--teal:       #44c196;
$color--red:        #de4f11;
$color--darkRed:    #a82b2b;
$color--yellow:     #f5fa6b;
$color--darkYellow: #ecf32f;
$color--orange: #e3c363;
$color--orange-alt: #efb127;
$color--turquoise: #57e5dd;
$color--pink: #ec6fc2;
$color--pink-alt: #f26969;

// -----
// Fonts
// -----

$font--main: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font--icons: 'gettalent-icons', sans-serif;

// -----
// Font Sizes
// -----

$font-size--small: .85em;
$font-size--smaller: .9em;
$font-size--main:  1em;
$font-size--big:   1.2em;
$font-size--large: 1.5em;
$font-size--jumbo: 2em;
$font-size--mega:  2.5em;
$font-size--damn:  2.65em;

// -----
// Line Heights
// -----

$line-height--main: 1.5em;

// -----
// Font Weights
// -----

$font-weight--bold:    600;
$font-weight--medium:  500;
$font-weight--regular: 400;
$font-weight--light:   300;

// -----
// Margins
// -----

$margin--section: 3em;
$margin--row:     1.85em;
$margin--line:    1.2em;
$margin--inline:  .85em;

// -----
// Padding
// -----

$padding--teeny:  .2em;
$padding--tiny:   .5em;
$padding--small:  .75em;
$padding--normal: 1em;
$padding--large:  1.25em;
$padding--huge:   1.5em;
$padding--jumbo:  1.75em;
$padding--giant:  2em;
$padding--mega:   2.5em; // don't use often

$padding--module:  30px;

// -----
// Border
// -----

$border-width--normal: 1px;
$border-width--medium: .2em;

// -----
// Border Radius
// -----

$border-radius--base: 3px;
$border-radius--button: $border-radius--base;
$border-radius--container: $border-radius--base;

// -----
// Opacity
// -----

$opacity--mute: .3;

// -----
// Breakpoints
// -----

$breakpoint--full:   80em;
$breakpoint--large:  56.25em;
$breakpoint--medium: 48em;
$breakpoint--small:  37.5em;
$breakpoint--tiny:   30em;
$breakpoint--teeny:  20em;

// -----
// Z-Indexes
// -----

// angular material z-indexes for reference

//$z-index-toast: 105 !default;
//$z-index-tooltip: 100 !default;
//$z-index-menu: 100 !default;
//$z-index-select: 90 !default;
//$z-index-dialog: 80 !default;
//$z-index-bottom-sheet: 70 !default;
//$z-index-scroll-mask: 65 !default;
//$z-index-sidenav: 60 !default;
//$z-index-backdrop: 50 !default;
//$z-index-fab: 20 !default;
//$z-index-progress-circular: 2 !default; // Used to fix animation bug in Chrome

$z-index--mobileMenu:          45 !default;
$z-index--toastr:              40 !default;
$z-index--view__sidebar--feed: 30 !default;
$z-index--topnav:              30 !default;
$z-index--view__sidebar:       25 !default;
$z-index--view__main:          20 !default;
$z-index--hero__header:        10 !default;

// -----
// Easing
// -----

$easing--normal: .3s ease;
$easing--slow:   .5s ease;

// -----
// Misc
// -----

$misc--sidebarWidth: 20em;
$misc--sidebarParentMenuWidth: 3.62em;
$misc--topNavMenuHeight: 2.75em;
$misc--topNavHeaderHeight--small: 5.4em;
$misc--topNavHeaderHeight--tiny: 3.9em;
$misc--topNavHeight--small: $misc--topNavMenuHeight + $misc--topNavHeaderHeight--small;
$misc--topNavHeight--tiny: $misc--topNavMenuHeight + $misc--topNavHeaderHeight--tiny;

// -----
// Animations
// -----

@keyframes animation--show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation--hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
