// ---------------------------------------------------
// Base / Helpers
// ---------------------------------------------------

// -----
// Colors
// -----

$color--white:      #ffffff;
$color--black:      #000000;
$color--gray:       #828282;
$color--lightGray:  #f2f4f5;
$color--medGray:    #bbbbbb;
$color--darkGray:   #494f51;
$color--darkerGray: #414546;
$color--nearBlack:  #333638;

$color--blue:       #009ccc;
$color--lightBlue:  #17c6fc;

$color--teal:       #9ef6dc;

$color--green:      #21bd58;
$color--lightGreen: #50ca7d;

$color--teal:       #44c196;

$color--red:        #de4f11;
$color--darkRed:    #a82b2b;

$color--yellow:     #f5fa6b;
$color--darkYellow: #ecf32f;

$color--orange: #e3c363;
$color--orange-alt: #efb127;

$color--turquoise: #57e5dd;
$color--pink: #ec6fc2;

$color--pink-alt: #f26969;

// ----
// Section Colors (New)
// ----
// @todo Post Demo Fix


// -----
// Fonts
// -----

$font--main: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font--icons: 'gettalent-icons', sans-serif;

// -----
// Font Sizes
// -----

$font-size--small: .85em;
$font-size--main:  1em;
$font-size--big:   1.2em;
$font-size--large: 1.5em;
$font-size--jumbo: 2em;
$font-size--mega:  2.5em;
$font-size--damn:  2.65em;

// -----
// Line Heights
// -----

$line-height--main: 1.5em;

// -----
// Font Weights
// -----

$font-weight--bold:    600;
$font-weight--medium:  500;
$font-weight--regular: 400;
$font-weight--light:   300;

// -----
// Margins
// -----

$margin--section: 3em;
$margin--row:     1.85em;
$margin--line:    1.2em;
$margin--inline:  .85em;

// -----
// Padding
// -----

$padding--teeny:  .2em;
$padding--tiny:   .5em;
$padding--small:  .75em;
$padding--normal: 1em;
$padding--large:  1.25em;
$padding--huge:   1.5em;
$padding--jumbo:  1.75em;
$padding--giant:  2em;
$padding--mega:   2.5em; // don't use often

// -----
// Border
// -----

$border-width--normal: 1px;
$border-width--medium: .2em;

// -----
// Border Radius
// -----

$border-radius--base: 5px;
$border-radius--button: $border-radius--base;
$border-radius--container: $border-radius--base;

// -----
// Opacity
// -----

$opacity--mute: .3;

// -----
// Breakpoints
// -----

$breakpoint--full:   80em;
$breakpoint--large:  56.25em;
$breakpoint--medium: 48em;
$breakpoint--small:  37.5em;
$breakpoint--tiny:   30em;
$breakpoint--teeny:  20em;

// -----
// Z-Indexes
// -----

$z-index--0:  0;
$z-index--1:  100;
$z-index--2:  200;
$z-index--3:  300;
$z-index--4:  400;
$z-index--5:  500;

// -----
// Easing
// -----

$easing--normal: .3s ease;
$easing--slow:   .5s ease;

// -----
// Misc
// -----

//$misc--headerHeight: 5.25em;
$misc--sidebarWidth: 4em;
