<section id="smartlist-details-view" class="view-wrapper view__main--smartlist">

    <div layout="column" layout-margin>

            <!-- Navigation path -->
            <div layout="row" class="md-margin">
                <div ncy-breadcrumb></div>
            </div>
            <!-- End: Navigation path -->

            <!-- Header -->
            <md-content class="page-title md-whiteframe-gt module-padding md-margin" layout="row" layout-xs="column" layout-align="center center" >
                <div flex="initial" class="gt-title-icon icon--list"></div>
                <div flex>
                    <h2 class="md-title">North Bay</h2>
                    <div class="md-subhead">This is a sub title for the title bar</div>
                </div>
                <div class="page-title-menu">
                    <a ui-sref="dashboard"><div class="gt-menu-icon icon--list-add"></div></a>
                </div>
            </md-content>
            <!-- End: Header -->

        <!-- Tables & Cards -->
        <div layout="row" layout-wrap>
            <!-- Top Pipelines Table -->
            <div flex="66" flex-xs="100" flex-sm="100" flex-md="100" layout="row" layout-wrap>
                <md-card flex >
                    <md-card-content>
                    Candidate Search
                    </md-card-content>
                </md-card>
            </div>
            <!-- End: Top Pipelines Table -->

            <!-- Cards -->
            <div flex="33" flex-xs="100" flex-sm="100" flex-md="100" layout="column">

                <!-- Current Candidate Usage -->
                <md-card flex="none" class="md-padding">
                    <md-card-title flex="none">
                        <md-card-title-text>
                            <span class="md-title">Current Candidate Usage<i class="fa fa-info-circle"  uib-tooltip="This number is calulated by this and this" tooltip-class="tooltip--info" ></i></span>
                            <span class="md-subhead">Used vs Available (Talent Pools)</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content flex>
                        <gt-circle-graph angle="75" value="3000" class="gt-circle-graph">
                            <div></div>
                        </gt-circle-graph>
                    </md-card-content>
                </md-card>
                <!-- End: Current Candidate Usage -->

            </div>
            <!-- End: Cards -->
        </div>
        <!-- End: Tables & Cards -->

    </div>

</section>
