<!-- Sidebar -->

    <section class="view__sidebar view__sidebar--active">
        <nav class="navigation--sidebar">
            <div class="navigation__parent">
                <a href="#" class="navigation__item--sidebar">
                    <span class="navigation__item__icon icon--pipeline"></span>
                </a>
                <a href="#" class="navigation__item--sidebar">
                    <span class="navigation__item__icon icon--announcements"></span>
                </a>
                <a href="#" class="navigation__item--sidebar">
                    <span class="navigation__item__icon icon--list"></span>
                </a>
                <a href="#" class="navigation__item--sidebar">
                    <span class="navigation__item__icon icon--people"></span>
                </a>
                <a href="#" class="navigation__item--settings">
                    <span class="navigation__item__icon icon--cog"></span>
                </a>
            </div>
            <div class="navigation__child">
                <div class="navigation__childItem navigation__childItem--active">
                    <header class="navigation__childItem__header">
                        <h3>Campaigns</h3>
                    </header>
                    <section class="navigation__childItem__content">
                        <strong>Recent</strong>
                        <ul>
                            <li><a href="#">Event in SF</a></li>
                            <li><a href="#">We are Hiring</a></li>
                            <li><a href="#">Calling all Vets</a></li>
                            <li><a href="#">Now Hiring!</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </nav>
    </section>

    <!--
    <nav class="view__sidebar__nav row--expanded">
        <div class="js--nav view__sidebar__navParent">
            <a href="" ui-sref-active="active" class="js--navItem view__sidebar__navItem row--table" data-target="js--subnav-dashboard" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="view__sidebar__navIcon">
                    <span class="icon--pipelines"></span>
                </div>
            </a>
            <a href="" ui-sref-active="active" class="js--navItem view__sidebar__navItem row--table" data-target="js--subnav-pipelines" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="view__sidebar__navIcon">
                    <span class="icon--campaigns"></span>
                </div>
            </a>
            <a href="" ui-sref-active="active" class="js--navItem view__sidebar__navItem row--table" data-target="js--subnav-campaigns" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="view__sidebar__navIcon">
                    <span class="icon--tools"></span>
                </div>
            </a>
            <a href="" ui-sref-active="active" class="js--navItem view__sidebar__navItem row--table" data-target="js--subnav-admin" ng-click="vm.isCollapsed = !vm.isCollapsed">
                <div class="view__sidebar__navIcon">
                    <span class="icon--overview"></span>
                </div>
            </a>
        </div>

        <div class="view__sidebar__navChild">
            <div class="js--subnav-{{menu}} view__sidebar__subNav" ng-repeat="(menu, subMenus) in vm.menuItems">
                <a ui-sref-active="active" href="" ng-repeat="(subMenu, menuTitle) in subMenus">{{menuTitle}}</a>
            </div>
        </div>
        -->
<!-- End Sidebar -->
