// ---------------------------------------------------
// Modules / Align
// ---------------------------------------------------

.align {}

.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}

.align--right-tiny {
  @include helper--media($breakpoint--tiny) {
    text-align: right;
  }
}

.align--iconRight {
  text-align: right;

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}
