// ---------------------------------------------------
// Modules / Angular Material Override
// ---------------------------------------------------

html, body {
    color:#666;
}

.module-padding {
    padding: $padding--module;
}

@mixin card {
    border-radius: $border-radius--base;
    box-shadow:none;
    border-right: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;
    background-color:#ffffff;
}

.md-whiteframe-gt {
    @include card;
}

md-card {
    @include card;
    .md-subhead {
        padding-top:0px;
    }
    md-card-content {

    }
    .md-card-title {
        .md-subhead{
            color:red;
            padding-top:5px;
        }
    }
    .md-title {
        font-weight:400;
        font-size: 1.3em;
    }
    .md-subhead {

    }
}



md-content {
    border-radius: $border-radius--base;

    .view__main > & {
        padding: 0;
        border-radius: 0;
        background: transparent;
    }

}

.md-title {
    color:#555;
    font-weight:400;
}

.md-subhead {
    color:#666;
    font-weight:400;
}

.md-display-3 {
    font-weight:300;
    color:#666;
}

.md-margin {
    margin:15px;
}



/** Move over to modules when styling **/


#v2-pipeline-summaries {
    md-card {
        min-height: 450px;
        height: 450px;

        .card-top-right-button {
            max-width: 60px;
            text-align: right;
        }
    }
}

#v2-activity-feed {
    .v2-feed {
        background-color: #eee;
        padding: 16px;
        margin: 8px 0;
    }
}


#v2-candidate-breakdown {
    md-list-item {
        min-height: 36px;
    }
}

#v2-team-contributors {
    .v2-contributor {
        background-color: #eee;
        margin: 8px 0 8px 20px;

        .md-avatar {
            margin-left: -36px;
        }
    }
}


.dashboard-wrapper {
    background: transparent;
}

// Log in
.view--login {    

    .login-header {
        margin-bottom: 50px;
    }

    .login-form-wrap {
        height: 420px;
        padding: 50px 50px 30px 50px;

        md-input-container {
            margin: 0;

            &:before {
                content: ' ';
                display: block;
                width: 5px;
                height: 50px;
                background: #888;
                position: absolute;
                top: 2px;
                left: 2px;
            }

            .md-input {
                height: 50px;
                padding-left: 20px;
            }
        }

        .forogt-password-wrap {
            height: 40px;
        }

        .login-error-message {
            color: #d30;
        }
    }
}


@keyframes shake {
    0% {transform: translateX(0);}
    12.5% {transform: translateX(-30px) rotateY(-5deg)}
    37.5% {transform: translateX(25px) rotateY(4deg)}
    62.5% {transform: translateX(-15px) rotateY(-2deg)}
    87.5% {transform: translateX(10px) rotateY(1deg)}
    100% {transform: translateX(0)}
}

.shake {
    animation: shake 600ms ease-in-out;
}

