.available-candidates__container {
  padding: $padding--large 0;
}

.available-candidates__graph {
  text-align: center;
  padding-right: $padding--mega * 3;

  .icon--organize {
    color: $color--blue;
    font-size: 8em;
    line-height: 1;
  }
}

.available-candidates__icon-container {
  position: relative;
  display: inline-block;
  padding: 0 $padding--normal;
}

.available-candidates__line-indicator {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $color--nearBlack;
}

.available-candidates__copy {
  text-align: left;
  display: inline-block;
  position: absolute;
  right: -60%;

  h5 {
    margin: 0;
  }

  p {
    color: $color--darkGray;
    line-height: 1;
    margin: 0;
  }
}
