// ---------------------------------------------------
// Modules / Code & Preformatted Text
// ---------------------------------------------------

code {
  box-sizing: border-box;
  margin: 0;
  padding: $padding--teeny;
  background-color: $color--lightGray;
}

pre {
  padding: $padding--tiny;
  border-radius: $border-radius--container;
  background-color: $color--lightGray;

  code {
    background-color: transparent;
  }
}

.code__wrap {
  overflow-wrap: break-word;
}
