// ---------------------------------------------------
// Modules / Code & Preformatted Text
// ---------------------------------------------------

code {
  box-sizing: border-box;
  margin: 0;
  padding: $padding--teeny;
  background-color: $color--lightGray;
}

pre {
  margin-bottom: 0;

  code {
    display: block;
    overflow-x: auto;
    padding: $padding--tiny;
    border-radius: $border-radius--container;
  }
}

.code__wrap {
  &,
  pre code {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
}

.code__scrollable {
  &,
  pre code {
    max-height: 350px;
    overflow-x: auto;
  }
}
