// ---------------------------------------------------
// Modules / Code & Preformatted Text
// ---------------------------------------------------

code {
  box-sizing: border-box;
  margin: 0;
  padding: $padding--teeny;
  background-color: $color--lightGray;
}

pre {
  code {
    display: block;
    overflow-x: auto;
    padding: $padding--tiny;
    border-radius: $border-radius--container;
  }
}

.code__wrap {
  white-space: pre-wrap;

  overflow-wrap: break-word;
  word-wrap: break-word;

  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}
