// ------------
// Modules / Feed
// ------------

// -----
// Inner
// -----

.feed__inner {
  animation: animation--hide $easing--slow;
  display: none;
}

.feed__inner--active {
  animation: animation--show $easing--slow;
  display: block;
  position: relative;
  height: 100%;
}

// -----
// Header
// -----

.feed__header {
  @extend .icon--bars;

  position: relative;
  z-index: 1;
  transition: background-color $easing--slow;
  padding-top: $padding--normal;
  padding-bottom: $padding--normal;
  padding-left: $padding--huge;
  padding-right: $padding--huge;
  background-color: $color--nearWhite;
  outline: none;
  box-shadow: 0 0 20px 10px rgba(255,255,255,1);

  @include helper--media($breakpoint--medium) {
    background-color: transparent;
  }

  h3 {
    font-weight: $font-weight--bold;
    padding-left: $padding--mega;
  }

  &:after {
    color: $color--gray;
    font-size: $font-size--big;
    left: $padding--huge;
    top: $padding--normal;
    width: 0;
    height: 0;
    position: absolute;
  }

  &:hover {
    background-color: $color--nearWhite;
    cursor: pointer;
  }
}

// -----
// Content
// -----

.feed__content {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  border-bottom: 60px solid transparent;
}

// -----
// Item
// -----

.feed__item {
  border-bottom-color: $color--nearWhite;
  border-width: $border-width--medium;
  padding-top: $padding--jumbo;
  padding-bottom: $padding--jumbo;
  margin-right: $padding--large;
  margin-left: 5em;
  font-size: .9em;
  color: inherit;
  border-bottom-style: solid;
  display: block;
  position: relative;

  a {
    font-weight: $font-weight--bold;
  }

  p {
    margin-top: .3em;
  }

  .icon {
    position: absolute;
    left: -2.25em;
    top: 2.5em;
    color: $color--gray;
    font-size: $font-size--large;
  }
}

.feed__item__sub {
  color: $color--gray;
  font-weight: $font-weight--bold;
  font-size: .9em;
  font-style: italic;
}
