// ---------------------------------------------------
// Modules / Graph
// ---------------------------------------------------

// -----
// Area Graph
// -----

.areaGraph {
  color: inherit;
  margin-bottom: -7px;
  cursor: pointer;
}

.areaGraph__point {
  transition: opacity $easing--slow;
  opacity: 0;
  fill: none;
  stroke: $color--white;
  stroke-width: 1;
  stroke-opacity: .5;
}

.areaGraph__point__text {
  font-size: 1.55em;
  stroke: none;
  fill: $color--white;
}

svg.areaGraph__canvas {
  overflow: visible;
}

.areaGraph__area {
  fill: $color--white;
  fill-opacity: .35;
}

.areaGraph__area--alt {
  fill: $color--white;
  fill-opacity: .25;
}

.areaGraph__notch {
  fill: $color--white;
  fill-opacity: .45;
}

.areaGraph__bar {
  stroke-width: 1;
  stroke: $color--white;
  stroke-opacity: .5;
}

.areaGraph__xAxis__label {
  font-size: .9em;
  opacity: 0;

  @include helper--media($breakpoint--medium) {
    opacity: 1;
  }
}

.areaGraph__notch {
  opacity: 0;

  @include helper--media($breakpoint--medium) {
    opacity: 1;
  }
}


// -----
// Line Graph
// -----

svg.lineGraph__canvas {
  margin-bottom: $margin--row;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;

  @include helper--media($breakpoint--full) {
    margin-bottom: 0;
  }
}

.lineGraph__line {
  stroke: $color--green;
  stroke-width: 4;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.lineGraph__xAxis__line {
  stroke: #f2f4f5;
  stroke-width: 2;
  fill: none;
}

.lineGraph__point {
  transition: fill $easing--normal, stroke $easing--normal;
  fill: transparent;

  &:hover {
    fill: $color--green;
    stroke: transparent;
  }
}

.lineGraph__pointGroup {
  &:hover {
    cursor: pointer;
  }
}

.lineGraph__marker {
  stroke: #DCE6EF;
  stroke-width: 2;
  fill: none;
}

// -----
// Circle Graph
// -----

.circleGraph {
  color: inherit;
}

svg.circleGraph__canvas {
  margin-top: $margin--row;
  margin-bottom: $margin--row;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: visible;

  @include helper--media($breakpoint--full) {
    margin-bottom: 0;
  }
}

.circleGraph__circle {
  fill: none;
  stroke: $color--white;
  stroke-dasharray: 10, 10;
  stroke-width: 1;
}

.circleGraph__progress {
  fill: none;
  stroke: $color--white;
  stroke-width: 15;
  stroke-linejoin: round;
}

.circleGraph__text {
  font-size: $font-size--mega;
  fill: $color--white;
}


// -----
// Bubble Graph
// -----
.bubbleGraph {}

.bubbleGraph__inner {}

.bubbleGraph__node {}

.bubbleGraph__node__circle {}

.bubbleGraph__node__circle--largest {
  fill: $color--blue;
}
.bubbleGraph__node__circle--large {
  fill: $color--green;
}
.bubbleGraph__node__circle--normal {
  fill: $color--orange;
}
.bubbleGraph__node__circle--small {
  fill: $color--turquoise;
}
.bubbleGraph__node__circle--smallest {
  fill: $color--pink;
}

.bubbleGraph__node__text {
  fill: $color--white;
  font-size: $font-size--main;
  text-anchor: middle;
  cursor: default;
}

.bubbleGraph__tooltip {
  color: $color--nearBlack;
  position: absolute;
  z-index: 100;
  padding: $padding--normal;
  background-color: $color--white;
  border-radius: $border-radius--container;
  margin-top: $margin--row;
  box-shadow: 0px 2px 5px 0px rgba($color--black, 0.3);
  visibility: hidden;
}
