// ---------------------------------------------------
// Modules / Header
// ---------------------------------------------------

.header {
  background-color: $color--white;
}

.header--login {
  text-align: center;
  position: relative;
  display: block;
  padding-bottom: $padding--giant;
}

// -----
// Logo
// -----

.header__logo {}

.header__logo--login {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 254px;
  height: 67px;
  background-image: url('../images/logo--main--white.svg');
}

// -----
// Navigation
// -----

.header__nav {
  z-index: $z-index--3;

  @include helper--media($breakpoint--tiny) {
    text-align: right;
  }

  @include helper--media($breakpoint--large) {
    position: relative;
  }
}

.header__inner {

  .header__inner__nav {
    margin-top: $padding--tiny;
    margin-bottom: $padding--tiny;

    > li {
        width: auto;
        margin-bottom: 0;
        padding-bottom: 0;

        > a,
        > .dropdown > a {
          display: inline-block;
          padding: 0 $padding--normal;
        }
    }
  }
}

// -----
// Inner
// -----

.header__inner {
  @include helper--media($breakpoint--large) {}
}
