// DO NOT USE
// This is for reference only of what Cosmic names their icons for any markup
// of theirs they may use. So that either icon or its respective class can be renamed.
// Icons fonts and scss are generated under /src/core/icon-font/

// ---------------------------------------------------
// Modules / Icons
// ---------------------------------------------------

@font-face {
  font-family: "gettalent";
  src: url("../fonts/gettalent.eot");
  src: url("../fonts/gettalent.eot?#iefix") format("embedded-opentype"),
       url("../fonts/gettalent.woff") format("woff"),
       url("../fonts/gettalent.ttf") format("truetype"),
       url("../fonts/gettalent.svg#gettalent") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "gettalent-icons";
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--announcements { @extend .icon; &:after { content: "\EA01" } }
.icon--bars { @extend .icon; &:after { content: "\EA02" } }
.icon--bell { @extend .icon; &:after { content: "\EA03" } }
.icon--box { @extend .icon; &:after { content: "\EA04" } }
.icon--build { @extend .icon; &:after { content: "\EA05" } }
.icon--calendar { @extend .icon; &:after { content: "\EA06" } }
.icon--campaigns { @extend .icon; &:after { content: "\EA07" } }
.icon--caret { @extend .icon; &:after { content: "\EA08" } }
.icon--checked { @extend .icon; &:after { content: "\EA09" } }
.icon--close { @extend .icon; &:after { content: "\EA0A" } }
.icon--cloud { @extend .icon; &:after { content: "\EA0B" } }
.icon--cog { @extend .icon; &:after { content: "\EA0C" } }
.icon--computer { @extend .icon; &:after { content: "\EA0D" } }
.icon--custom-fields { @extend .icon; &:after { content: "\EA0E" } }
.icon--download { @extend .icon; &:after { content: "\EA0F" } }
.icon--dropbox { @extend .icon; &:after { content: "\EA10" } }
.icon--education { @extend .icon; &:after { content: "\EA11" } }
.icon--file { @extend .icon; &:after { content: "\EA12" } }
.icon--google-drive { @extend .icon; &:after { content: "\EA13" } }
.icon--hamburger { @extend .icon; &:after { content: "\EA14" } }
.icon--linkedin { @extend .icon; &:after { content: "\EA15" } }
.icon--list { @extend .icon; &:after { content: "\EA16" } }
.icon--location { @extend .icon; &:after { content: "\EA17" } }
.icon--lock { @extend .icon; &:after { content: "\EA18" } }
.icon--mag { @extend .icon; &:after { content: "\EA19" } }
.icon--mail-open { @extend .icon; &:after { content: "\EA1A" } }
.icon--mail { @extend .icon; &:after { content: "\EA1B" } }
.icon--notes { @extend .icon; &:after { content: "\EA1C" } }
.icon--overview { @extend .icon; &:after { content: "\EA1D" } }
.icon--people { @extend .icon; &:after { content: "\EA1E" } }
.icon--person { @extend .icon; &:after { content: "\EA1F" } }
.icon--phone { @extend .icon; &:after { content: "\EA20" } }
.icon--pipeline { @extend .icon; &:after { content: "\EA21" } }
.icon--pipelines { @extend .icon; &:after { content: "\EA22" } }
.icon--plus { @extend .icon; &:after { content: "\EA23" } }
.icon--progress { @extend .icon; &:after { content: "\EA24" } }
.icon--raised-hand { @extend .icon; &:after { content: "\EA25" } }
.icon--right { @extend .icon; &:after { content: "\EA26" } }
.icon--save { @extend .icon; &:after { content: "\EA27" } }
.icon--search { @extend .icon; &:after { content: "\EA28" } }
.icon--settings { @extend .icon; &:after { content: "\EA29" } }
.icon--share { @extend .icon; &:after { content: "\EA2A" } }
.icon--speech { @extend .icon; &:after { content: "\EA2B" } }
.icon--thumbs-up { @extend .icon; &:after { content: "\EA2C" } }
.icon--tools { @extend .icon; &:after { content: "\EA2D" } }
.icon--twitter { @extend .icon; &:after { content: "\EA2E" } }
.icon--unchecked { @extend .icon; &:after { content: "\EA2F" } }
.icon--upload-2 { @extend .icon; &:after { content: "\EA30" } }
.icon--upload { @extend .icon; &:after { content: "\EA31" } }
.icon--work { @extend .icon; &:after { content: "\EA32" } }
