// ---------------------------------------------------
// Modules / Labels
// ---------------------------------------------------

.label {
  display: block;
}

.label--big {
  @extend .label;

  font-size: $font-size--jumbo;
}

.label--green {
  @extend .label;

  color: $color--green;
}

.label--red {
  @extend .label;

  color: $color--red;
}
