// ---------------------------------------------------
// Modules / MD Cards
// ---------------------------------------------------

@mixin card {
  border-radius: $border-radius--base;
  box-shadow:none;
  border-right: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
  background-color:#ffffff;
}

$subhead-font-size-base: 14px;

.gt-card {
  @include card;
}

md-card {
  @include card;
  md-content {
    margin:0px;
  }
  md-toolbar {
    padding-top:24px;
  }
  md-card-title {
    md-card-title-text:only-child {
      .md-subhead {
        font-size: $subhead-font-size-base;
        padding-top: 3px;
      }
    }
  }
}

md-content {
  padding: 0px 16px;
  margin: 8px;
}

.md-subhead {
  font-size: $subhead-font-size-base;
  font-weight: $font-weight--light;
  padding-top: 3px;
  color: $color--lightGray;
}

.md-title {
  color: $color--darkGray;
  font-size: 20px;
  font-weight: $font-weight--regular;
}



md-content {
  border-radius: $border-radius--base;

  .view__main > & {
    padding: 0;
    border-radius: 0;
  }

}

