// ------------
// Modules / MobileMenu
// ------------

.mobileMenu {
  z-index: $z-index--mobileMenu;
  font-size: $font-size--large;
  line-height: 1.1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .navigation__childItem__content li {
    margin-left: 0;
    margin-right: 0;
  }

  li {
    list-style-type: none;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 2em;
    margin-right: 2em;
  }

  a {
    color: $color--white;
    display: block;
  }
}

// -----
// Content
// -----

.mobileMenu__content {
  transition: bottom $easing--normal !important;
  display: block !important;
  position: fixed;
  bottom: -100%;
  top: auto !important;
  width: 100% !important;
  height: 100% !important;
}

.mobileMenu__content--active {
  bottom: 0;

}

// -----
// Close
// -----

.mobileMenu__close {
  @extend .icon--bars;

  transition: opacity $easing--slow, background $easing--slow;
  padding-left: $padding--large;
  padding-right: $padding--large;
  padding-bottom: $padding--normal;
  padding-top: $padding--normal;
  background-color: $color--darkGray;
  z-index: $z-index--mobileMenu;
  padding-left: 3em;
  display: block;
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 100%;

  &:after {
    color: $color--gray;
    font-size: $font-size--small;
    left: $padding--huge;
    top: $padding--normal;
    width: 0;
    height: 0;
    top: 37%;
    position: absolute;
  }

  &:hover {
    cursor: pointer;
    background-color: $color--black;
  }
}

.mobileMenu__close--active {
  opacity: 1;
}
