// ---------------------------------------------------
// Modules / Page Title
// ---------------------------------------------------

.gt__icon {
  &-large {
    display:inline-block;
    border-radius:50px;
    overflow:hidden;
    margin-right:15px;
  }
}
