// ---------------------------------------------------
// Modules / Page Title
// ---------------------------------------------------


//@todo Make global mixin -JP

.page-title {
  .md-title {
    font-size:25px;
    font-weight:300;
  }
}

.page-title-menu {
  a {
    display:inline-block;
  }
}

.gt-title-icon {
  background: $color--purple;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right:10px;
  font-size:40px;
}

.gt-menu-icon {
  background: $color--purple;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .1s ease-in-out;
  margin-right:10px;
  font-size:20px;
  &:hover{
    background: lighten($color--purple, 10%);
  }
}

