// ---------------------------------------------------
// Modules / Page Title
// ---------------------------------------------------


//@todo Make global mixin -JP

.page-title {
  .md-title {
    font-size:25px;
    font-weight:300;
  }
}

.breadcrumbs2 {
  background: darken($color--blue, 5%);
  padding:10px;
  color: lighten($color--blue, 15%);
}

.page-title-2 {
  background-color: $color--blue;
  color:white;
  margin:0px;
  .md-title {
    color:white;
  }
  .gt-title-icon {
    width: 45px;
    height: 45px;
    font-size:40px;
    background: transparent;
  }
  .gt-menu-icon {
    background: transparent;
  }
}

.page-title-menu {
  a {
    display:inline-block;
  }
}

.gt-title-icon {
  background: $color--purple;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right:10px;
  font-size:30px;
  overflow:hidden;
}

.gt-menu-icon {
  background: $color--purple;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .1s ease-in-out;
  margin-right:10px;
  font-size:20px;
  cursor:pointer;
  &:hover{
    background: lighten($color--purple, 10%);
  }
}

