// ---------------------------------------------------
// Modules / Pagination
// ---------------------------------------------------
.pagination {
  @include inc--align--clearfix;

  margin-top: $margin--line;

  // Fancy select style change
  .fancy-select {
    .trigger {
      color: $color--blue;
      padding: $padding--tiny $padding--giant $padding--tiny $padding--tiny;
      background: transparent;
      border: 2px solid transparent;

      &:after { border-top-color: $color--blue; }

      &.open {
        color: $color--nearBlack;
        background: $color--lightGray;
        border: 2px solid $color--lightGray;

        &:after { border-top-color: $color--nearBlack; }
      }
    }
  }
}

.pagination__page-link {
  color: $color--blue;
  display: inline-block;
  vertical-align: middle;
  padding: $padding--tiny $padding--small;
  background-color: transparent;
  border-radius: $border-radius--button;
  transition: color $easing--normal,
              background-color $easing--normal;

  &:hover,
  &.is-active {
    color: $color--white;
    background-color: $color--blue;
  }
}
