// ---------------------------------------------------
// Modules / Rows
// ---------------------------------------------------

.row {
  @include inc--align--clearfix;
  @include inc--align--center;

  max-width: $breakpoint--full;
  padding-left: $padding--small;
  padding-right: $padding--small;
  margin-top: $margin--row;
  margin-bottom: $margin--row;
}

.row--table {
  width: 100%;
  display: table;
  border-collapse: separate;
}

.row--widget {
  @include helper--media($breakpoint--full) {
    @extend .row;

    border-spacing: $margin--row 0;
    width: 100%;
    display: table;
    border-collapse: separate;

    &:after { display: none; }
  }
}

.row--squeezed {
  @extend .row;
  @include inc--space--squeezed;
}

.row--pressed {
  @extend .row;
  @include inc--space--pressed;
}

.row--stretched {
  @extend .row;

  max-width: none;
}

.row--fluid {
  @extend .row--pressed;
  @extend .row--stretched;
}

.row--expanded {
  @extend .row--fluid;
  @extend .row--squeezed;
}
