// ---------------------------------------------------
// Modules / Search Filters
// ---------------------------------------------------
.search__filters__container {
  @include inc--align--clearfix;
  margin-bottom: $padding--huge;
  padding-bottom: $padding--huge;
  border-bottom: 1px solid $color--lightGray;

  @include helper--media($breakpoint--full) {
    margin-bottom: 0;
    padding-right: $padding--huge;
    padding-bottom: 0;
    border-bottom: 0;
    border-right: 1px solid $color--lightGray;
  }
}

.search__results {
  @include helper--media($breakpoint--full) {
    padding-left: $padding--huge;
  }
}

.search__filters {
  @include inc--align--clearfix;
  display: none;
  float: left;
  width: 100%;
  margin-top: $margin--line;

  &.is--active {
    display: block;
  }

  @include helper--media($breakpoint--large) {
    display: block;
  }
}

.search__filters__header {
  @include inc--align--clearfix;
  float: left;
  width: 100%;
}

.search__toggle__filters {
  display: inline-block;

  @include helper--media($breakpoint--large) {
    display: none !important;
  }
}

.search__action-buttons {
  @include inc--align--clearfix;
  display: block;
  float: right;
  text-align: right;

  margin-top: 0;

  .button--small {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
}

.search__filter-set {
  margin-bottom: $margin--row;

  &:last-of-type {
    margin-bottom: 0;
  }

  h4 {
    color: $color--gray;
    line-height: 1;
    position: relative;
    margin-bottom: $padding--small;
    padding-bottom: $padding--normal;
    border-bottom: 1px solid $color--lightGray;
    cursor: pointer;

    &:after {
      content: '+';
      position: absolute;
      top: 0;
      right: 0;
      transition: transform $easing--normal;
    }

    @include helper--media($breakpoint--large) {
      cursor: default;

      &:after {
        content: '';
      }
    }
  }

  // Added by JS. Displays the filter content for the filter set and rotates the + symbol to make an X
  &.is--active {
    .search__form__fieldset {
      display: block;
    }

    h4:after {
      transform: rotate(45deg);
    }
  }
}

.search__form__fieldset {
  @extend .form__fieldset;

  display: none;

  @include helper--media($breakpoint--large) {
    display: block;
  }
}
