// ---------------------------------------------------
// Modules / Stat Row
// ---------------------------------------------------

.stat-row {
  border-radius: $border-radius--base;
  overflow:hidden;
  border-bottom: solid 1px #e2e2e2;
  md-content,
  .md-whiteframe-gt {
    border-radius:0;
    border-bottom:0px;
  }
}