.system-alerts {
  background-color: darken($color--blue, 10%);
  text-align:center;
  font-weight:$font-weight--regular;
  font-size: $font-size--main;
  color: $color--white;
  padding: $padding--small;
  a {
    color: lighten($color--blue, 20%);
  }
}