// ---------------------------------------------------
// Modules / Tabs
// ---------------------------------------------------
.tabs {
  border-bottom: 1px solid $color--lightGray;
}

.tabs__nav {
  display: table;
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}

.tabs__nav__link {
  transition: color $easing--normal;
  color: rgba($color--blue, .5);
  text-decoration: none;
  display: table-cell;
  margin: 0 -2px;
  padding: $padding--small $padding--normal;
  border-top: none;
  border-right: 1px solid $color--lightGray;
  border-bottom: 3px solid transparent;
  border-left: 1px solid $color--lightGray;
  transition: border-bottom-color .5s ease;
  text-align: center;

  &:hover {
    .tabs__nav__linkText {
      opacity: 1;
    }
  }
}

.tabs__nav__link--active {
  @extend .tabs__nav__link;

  border-bottom-color: $color--blue;
  color: $color--blue;
}

//------------
// Icon Tabs Filters
//------------
.tabs__icon-nav {
  font-size: $font-size--large;
}

.tabs__icon-nav__link {
  color: $color--gray;
  margin-right: $padding--small;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover,
  &.tab-active {
    color: $color--blue;
  }
}


//------------
// Tab Content
//------------
.tabs__content {
  display: none;
  float: left;
  width: 100%;
}

.tabs__content--active {
  @extend .tabs__content;

  display: block;
}
