// ------------
// Team Views
// ------------
.team-views__module {
  text-align: center;

  img {
    border-radius: 50%;
    margin: 0 auto;
  }

  p {
    line-height: 1;
    margin: $padding--tiny 0 $padding--teeny;
  }

  small {
    line-height: 1;
  }
}
