// ---------------------------------------------------
// Modules / Contributors
// ---------------------------------------------------


.team-contributions {
  .md-avatar {
    width: 55px;
    height: 55px;
  }
  .md-display-5 {
    font-size:15px;
    margin-bottom:3px;
  }
  .md-display-6 {
    font-size:12px;
    color:#777;
  }
}
