// ---------------------------------------------------
// Modules / User Activity System
// ---------------------------------------------------

// -----------------------
// Toast
// -----------------------

#toast-container {
  @include linear-gradient(to bottom, #ffffff, #dddddd);
  & > div {
    padding:40px 60px;
    border-radius:0px;
    background-color:transparent;
    background-position: 25px center;
    color:#666;
    box-shadow:0 0 4px rgba(0,0,0,.10);
    font-size: 15px;
    &:hover {
      box-shadow:0 0 4px rgba(0,0,0,.10);
    }
    strong {
      color: $color--blue;
    }
    .toast-close-button {
      color:#999;
      font-weight:300;
      position:absolute;
      top:10px;
      right:10px;
      font-size: 11px;
    }
  }
}
