// ---------------------------------------------------
// Modules / View
// ---------------------------------------------------

.app__wrapper,
.app__root,
.app__content,
.view__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.view {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

.view--login {
  @extend .view;

  background-color: $color--blue;
  background-image: url('../images/backgrounds/login-peaks.png');
  background-position: bottom;
  background-size: cover;
  .header--login {
    margin-bottom:0px;
  }
  .box {
    padding:50px;
    border-right:darken($color--blue, 5%) 1px solid;
    border-bottom:darken($color--blue, 5%) 1px solid;
  }
  .row--skinny {
    margin-top:0px;
    margin-bottom:0px;
  }

  .form__input--icon--password,
  .form__input--icon--email
  {
    border: 1px solid #efefef;
    padding: 1em 3em;
  }
  .alert {
    color:red;
    margin:5px 0px;
  }
}

.view--pipelines {
  @extend .view;
}

.view--user {
  @extend .view--pipelines;
}

// -----
// Main
// -----

.view__main {
  background-color: $color--nearWhite;
  z-index: $z-index--1;
  display: table-cell;
  width: 100%;
  min-height: 100%;
}

.view__main--login {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.view__main--pipelines {
  @extend .view__main;
}

.view__main--user {
  @extend .view__main--pipelines;
}

.view__wrapper--pipelines-nav {
  display: table-cell;
  height: 100%;
  vertical-align: top;
}

.view__wrapper--user-nav {
  @extend .view__wrapper--pipelines-nav;
}

.view__wrapper--pipelines {
  @extend .view__main;

  @include helper--media($breakpoint--large) {
    display: table-cell;
    vertical-align: top;
    position: static;
    overflow: visible;
    z-index: 0;
  }
}

.view__wrapper--user {
  @extend .view__wrapper--pipelines;
}

// -----
// Sidebar
// -----

.view__sidebar {
  transition: width $easing--normal;
  background-color: $color--darkGray;
  z-index: $z-index--2;
  width: 100%;
  bottom: 0;
  position: fixed;
  overflow: hidden;

  @include helper--media($breakpoint--medium) {
    width: 3em;
    display: table;
    height: 100%;
    position: relative;
    vertical-align: top;
    overflow: visible;
  }
}

.view__sidebar--active {
  @include helper--media($breakpoint--medium) {
    width: 20em;
  }
}

.view__sidebar--feed {
  @extend .view__sidebar;

  background-color: $color--white;
  top: -$misc--topNavMenuHeight;
  z-index: 900;
  width: 0;
  position: relative;

  @include helper--media($breakpoint--medium) {
    display: table-cell;
  }

  &.view__sidebar--active {
    @include helper--media($breakpoint--medium) {
      width: 20em;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -$misc--topNavMenuHeight;
    display: block;
    width: 100%;
    height: $misc--topNavMenuHeight;
    background: $color--white;
  }
}
