// ---------------------------------------------------
// Modules / View
// ---------------------------------------------------

.app__wrapper,
.app__root,
.app__content,
.view__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.view {
  display: table;
  width: 100%;
  height: 100%;
}

.view--login {
  @extend .view;

  display: table;
  width: 100%;
  height: 100%;
  background-color: $color--blue;
  background-image: url('../images/backgrounds/login-peaks.png');
  background-position: bottom;
  background-size: cover;
}

.view--pipelines {
  @extend .view;

  @include helper--media($breakpoint--large) {
    //
  }
}

// -----
// Main
// -----

.view__main {
  background-color: $color--lightGray;
  z-index: $z-index--1;
  position: absolute;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}
.view__main--login {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.view__wrapper--pipelines-nav {
  @include helper--media($breakpoint--large) {
    display: table-cell;
    height: 100%;
    vertical-align: top;
  }
}

.view__wrapper--pipelines {
  @extend .view__main;

  @include helper--media($breakpoint--large) {
    display: table-cell;
    vertical-align: top;
    position: static;
    overflow: visible;
    z-index: 0;
  }
}

.view__main--pipelines {
  @extend .view__main;

  position: static;
  overflow: visible;
}

// -----
// Sidebar
// -----

.view__sidebar {
  width: 100%;
  height: 100%;
}

.view__sidebar__nav {
  position: relative;
  width: 100%;
  height: 100%;

  @include helper--media($breakpoint--large) {
    display: table;
    vertical-align: top;
  }
}

.view__sidebar__navParent {
  background-color: $color--darkerGray;
  color: $color--white;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: width $easing--normal, color $easing--normal, background $easing--normal;

  @include helper--media($breakpoint--large) {
    display: table-cell;
    vertical-align: top;
    padding-bottom: $padding--jumbo;
    height: 100%;
    position: relative;
    z-index: $z-index--1;
  }

  .view__sidebar__navIcon {
    font-size: $font-size--jumbo;
    text-align: center;

    span {
      position: relative;
      top: .2em;
    }
  }
}

.view__sidebar__navParent--active {
  color: $color--medGray;
  background-color: $color--darkerGray;
  display: flex;
  justify-content: center;
  transition: width $easing--normal, color $easing--normal, background $easing--normal;

  @include helper--media($breakpoint--large) {
    display: table-cell;
    vertical-align: top;
    padding-bottom: $padding--jumbo;
    height: 100%;
    position: relative;
    z-index: $z-index--1;
  }

  .view__sidebar__navText {
    display: none;
  }

  .view__sidebar__navIcon {
    font-size: $font-size--jumbo;
    text-align: center;

    span {
      position: relative;
      top: .2em;
    }
  }
}

.view__sidebar__navItem {
  transition: background $easing--slow;
  padding-top: $padding--small;
  padding-bottom: $padding--tiny;
  width: 20%;
  color: inherit;
  text-decoration: inherit;
  float: left;
  text-align: center;

  @include helper--media($breakpoint--large) {
    padding-top: $padding--tiny;
    padding-bottom: $padding--tiny;
    padding-left: $padding--small;
    padding-right: $padding--small;
    border-width: $border-width--medium;
    border-color: transparent;
    border-right-style: solid;
    width: 100%;
    float: none;
    display: table;
    text-align: left;

  }

  &:hover {
    background-color: $color--nearBlack;
  }
}

.view__sidebar__navItem--active {
  @extend .view__sidebar__navItem;

  color: $color--blue;

  @include helper--media($breakpoint--large) {
    border-color: $color--blue;
    color: inherit;
  }
}

.view__sidebar__navIcon {
  margin: 0;
}

.view__sidebar__navText {
  display: none;

  @include helper--media($breakpoint--large) {
    display: table-cell;
    vertical-align: middle;
  }
}

.view__sidebar__navChild {
  @include inc--align--left;

  color: $color--medGray;
  width: 100%;
  vertical-align: top;

  @include helper--media($breakpoint--large) {
    width: auto;
    display: table;
    height: 100%;
    position: relative;
    z-index: $z-index--0;
  }

  a {
    font-size: $font-size--large;
    padding: $padding--small;
    padding-left: $padding--large;
    padding-right: $padding--large;
    display: block;
    color: inherit;
    text-decoration: inherit;

    @include helper--media($breakpoint--large) {
      font-size: $font-size--main;
    }
  }
}

.view__sidebar__subNav {
  display: none;
  opacity: 0;
  background-color: $color--darkGray;

  transition: none;

  @include helper--media($breakpoint--large) {
    height: 100%;

    transition: transform 300ms ease;
    transform: translate3d(-100%, 0, 0);
  }
}

.view__sidebar__subNav--active {
  @extend .view__sidebar__subNav;

  display: block;
  opacity: 1;

  a {
    transition: color $easing--slow;

    &:hover {
      color: $color--white;
    }
  }

  @include helper--media($breakpoint--large) {
    display: table-cell !important;
    height: 100%;
    vertical-align: top;
    transform: translate3d(0, 0, 0);
  }
}

