@font-face {
  font-family: "gettalent-icons";
  src: url("../fonts/gettalent-icons.eot");
  src: url("../fonts/gettalent-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/gettalent-icons.woff") format("woff"), url("../fonts/gettalent-icons.ttf") format("truetype"), url("../fonts/gettalent-icons.svg#gettalent-icons") format("svg");
}

.icon, .icon--box, .icon--build, .icon--calendar, .icon--campaigns, .icon--checked, .icon--close, .icon--cloud, .icon--computer, .icon--custom-fields, .icon--download, .icon--dropbox, .icon--education, .icon--file, .icon--google-drive, .icon--linkedin, .icon--location, .icon--lock, .icon--mail-open, .icon--mail, .icon--notes, .icon--overview, .icon--people, .icon--person, .icon--phone, .icon--pipelines, .icon--progress, .icon--raised-hand, .icon--save, .icon--search, .icon--settings, .icon--speech, .icon--thumbs-up, .icon--tools, .icon--twitter, .icon--unchecked, .icon--upload, .icon--work {
  font-family: "gettalent-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  display: inline;
}

.icon--box:after {
  content: "\EA01";
}

.icon--build:after {
  content: "\EA02";
}

.icon--calendar:after {
  content: "\EA03";
}

.icon--campaigns:after {
  content: "\EA04";
}

.icon--checked:after {
  content: "\EA05";
}

.icon--close:after {
  content: "\EA06";
}

.icon--cloud:after {
  content: "\EA07";
}

.icon--computer:after {
  content: "\EA08";
}

.icon--custom-fields:after {
  content: "\EA09";
}

.icon--download:after {
  content: "\EA0A";
}

.icon--dropbox:after {
  content: "\EA0B";
}

.icon--education:after {
  content: "\EA0C";
}

.icon--file:after {
  content: "\EA0D";
}

.icon--google-drive:after {
  content: "\EA0E";
}

.icon--linkedin:after {
  content: "\EA0F";
}

.icon--location:after {
  content: "\EA10";
}

.icon--lock:after {
  content: "\EA11";
}

.icon--mail-open:after {
  content: "\EA12";
}

.icon--mail:after {
  content: "\EA13";
}

.icon--notes:after {
  content: "\EA14";
}

.icon--overview:after {
  content: "\EA15";
}

.icon--people:after {
  content: "\EA16";
}

.icon--person:after {
  content: "\EA17";
}

.icon--phone:after {
  content: "\EA18";
}

.icon--pipelines:after {
  content: "\EA19";
}

.icon--progress:after {
  content: "\EA1A";
}

.icon--raised-hand:after {
  content: "\EA1B";
}

.icon--save:after {
  content: "\EA1C";
}

.icon--search:after {
  content: "\EA1D";
}

.icon--settings:after {
  content: "\EA1E";
}

.icon--speech:after {
  content: "\EA1F";
}

.icon--thumbs-up:after {
  content: "\EA20";
}

.icon--tools:after {
  content: "\EA21";
}

.icon--twitter:after {
  content: "\EA22";
}

.icon--unchecked:after {
  content: "\EA23";
}

.icon--upload:after {
  content: "\EA24";
}

.icon--work:after {
  content: "\EA25";
}
