@font-face {
  font-family: "gettalent-icons";
  src: url('../fonts/gettalent-icons.eot'); // IE9 compat
  src: url('../fonts/gettalent-icons.eot?#iefix') format('embedded-opentype'), // IE8 and below
    url('../fonts/gettalent-icons.woff') format('woff'), // standards
    url('../fonts/gettalent-icons.ttf') format('truetype'), // Safari, Android, iOS
    url('../fonts/gettalent-icons.svg#gettalent-icons') format('svg'); // legacy iOS
}

.icon {
  font-family: "gettalent-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  display: inline;
}

.icon--announcements { @extend .icon; &:after { content: "\EA01" } }
.icon--bars { @extend .icon; &:after { content: "\EA02" } }
.icon--bell { @extend .icon; &:after { content: "\EA03" } }
.icon--box { @extend .icon; &:after { content: "\EA04" } }
.icon--build { @extend .icon; &:after { content: "\EA05" } }
.icon--calendar { @extend .icon; &:after { content: "\EA06" } }
.icon--campaigns { @extend .icon; &:after { content: "\EA07" } }
.icon--caret { @extend .icon; &:after { content: "\EA08" } }
.icon--checked { @extend .icon; &:after { content: "\EA09" } }
.icon--close { @extend .icon; &:after { content: "\EA0A" } }
.icon--cloud { @extend .icon; &:after { content: "\EA0B" } }
.icon--cog { @extend .icon; &:after { content: "\EA0C" } }
.icon--computer { @extend .icon; &:after { content: "\EA0D" } }
.icon--custom-fields { @extend .icon; &:after { content: "\EA0E" } }
.icon--download { @extend .icon; &:after { content: "\EA0F" } }
.icon--dropbox { @extend .icon; &:after { content: "\EA10" } }
.icon--education { @extend .icon; &:after { content: "\EA11" } }
.icon--file { @extend .icon; &:after { content: "\EA12" } }
.icon--google-drive { @extend .icon; &:after { content: "\EA13" } }
.icon--linkedin { @extend .icon; &:after { content: "\EA14" } }
.icon--list { @extend .icon; &:after { content: "\EA15" } }
.icon--location { @extend .icon; &:after { content: "\EA16" } }
.icon--lock { @extend .icon; &:after { content: "\EA17" } }
.icon--mag { @extend .icon; &:after { content: "\EA18" } }
.icon--mail-open { @extend .icon; &:after { content: "\EA19" } }
.icon--mail { @extend .icon; &:after { content: "\EA1A" } }
.icon--notes { @extend .icon; &:after { content: "\EA1B" } }
.icon--overview { @extend .icon; &:after { content: "\EA1C" } }
.icon--people { @extend .icon; &:after { content: "\EA1D" } }
.icon--person { @extend .icon; &:after { content: "\EA1E" } }
.icon--phone { @extend .icon; &:after { content: "\EA1F" } }
.icon--pipeline { @extend .icon; &:after { content: "\EA20" } }
.icon--pipelines { @extend .icon; &:after { content: "\EA21" } }
.icon--progress { @extend .icon; &:after { content: "\EA22" } }
.icon--raised-hand { @extend .icon; &:after { content: "\EA23" } }
.icon--right { @extend .icon; &:after { content: "\EA24" } }
.icon--save { @extend .icon; &:after { content: "\EA25" } }
.icon--search { @extend .icon; &:after { content: "\EA26" } }
.icon--settings { @extend .icon; &:after { content: "\EA27" } }
.icon--speech { @extend .icon; &:after { content: "\EA28" } }
.icon--thumbs-up { @extend .icon; &:after { content: "\EA29" } }
.icon--tools { @extend .icon; &:after { content: "\EA2A" } }
.icon--twitter { @extend .icon; &:after { content: "\EA2B" } }
.icon--unchecked { @extend .icon; &:after { content: "\EA2C" } }
.icon--upload { @extend .icon; &:after { content: "\EA2D" } }
.icon--work { @extend .icon; &:after { content: "\EA2E" } }
