<section id="campaigns-overview-view" class="view__main">

    <div class="row--expanded row--blue hero">
        <!-- Graph: Total Candidates -->
        <div class="col--full-12">
            <header class="hero__header">
                <div class="row--widget">
                    <div class="row--table hero__header__stats">
                        <div class="col--full-4 hero__header__stats--column">
                            <h3>Total Campaigns</h3>
                            <h1>63</h1>
                        </div>

                        <div class="col--full-4 hero__header__stats--column">
                            <h3>Active Campaigns</h3>
                            <h1>15</h1>
                        </div>

                        <div class="col--full-4 hero__header__stats--column">
                            <h3>Top Performing Campaign</h3>
                            <h1><span class="hero__header__stats--stat-subhead">UC Hackathon</span> - 83%</h1>
                        </div>
                    </div>
                </div>
            </header>
            <section class="row--widget hero__content">
                <div class="row--table">
                    <div class="col--large-8--cell hero__header__text">
                        <h1>430 Total Candidates</h1>
                        <h3>60% Engagement</h3>
                    </div>
                    <div class="col--large-4--cell hero__header__action">
                        <select id="chartToView" class="js-fancy" name="chartToView">
                            <option value="">Select Chart to View</option>
                            <option value="totalEngagement">Total Engagement</option>
                        </select>
                        <select id="chartDateRange" class="js-fancy" name="chartDateRange">
                            <option value="15d">15d</option>
                            <option value="30d">30d</option>
                            <option value="60d">60d</option>
                        </select>
                    </div>
                </div>
            </section>
            <figure class="js-graph--total-candidates areaGraph hero__graph"></figure>
        </div>
    </div>


    <div class="row--widget">
        <!-- Graph: Pipeline Engagement -->
        <div class="col--full-6--cell box--nested-outer box--green">
            <div class="col--full-8--cell box--nested-inner">
                <header class="row--expanded">
                    <div class="col--large-10">
                        <h2>Campaign Engagement</h2>
                        <h4>Sep 30 - Nov 30</h4>
                    </div>
                    <div class="col--large-2 align--right">
                        <select id="mostEngagedCandidates" class="js-fancy" name="mostEngagedCandidates">
                            <option value="5d">5d</option>
                            <option selected value="15d">15d</option>
                            <option value="30d">30d</option>
                            <option value="60d">60d</option>
                        </select>
                    </div>
                </header>

                <figure class="js-graph--pipeline-engagement circleGraph">
                </figure>
            </div>
        </div>

        <div class="col--full-6--cell box--padless">
            <div class="box__half row--expanded">
                <div class="box__corner col--full-6">
                    <div class="box__corner__inner">
                        <span class="label--big label--green">42%</span>
                        Event (2)
                    </div>
                </div>
                <div class="box__corner col--full-6">
                    <div class="box__corner__inner">
                        <span class="label--big label--red">12%</span>
                        SMS (2)
                    </div>
                </div>
            </div>
            <div class="box__half row--expanded">
                <div class="box__corner col--full-6">
                    <div class="box__corner__inner">
                        <span class="label--big label--red">18%</span>
                        Push (2)
                    </div>
                </div>
                <div class="box__corner col--full-6">
                    <div class="box__corner__inner">
                        <span class="label--big label--green">64%</span>
                        Email (5)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row--widget">
        <!-- Table: Most Engaged Candidates -->
        <div class="col--full-6--cell box">
            <header class="row--expanded">
                <div class="col--large-10">
                    <h2>Most Engaged Candidates</h2>
                </div>
                <div class="col--large-2 align--right">
                    <select id="mostEngagedCandidates" class="js-fancy" name="mostEngagedCandidates">
                        <option value="5d">5d</option>
                        <option selected value="15d">15d</option>
                        <option value="30d">30d</option>
                        <option value="60d">60d</option>
                    </select>
                </div>
            </header>

            <div class="box__table">
                <table class="table">
                    <tr class="table__row">
                        <td class="table__col--3">
                            <a href="#" class="figure--circle">
                                <img src="./images/placeholder/jwhite.png" alt="Joe White">
                            </a>
                        </td>
                        <td class="table__col--6">
                            <a href="#">Joe White</a>
                            <p class="subtext">
                                Java Engineer<br>
                                Los Angeles, CA
                            </p>
                        </td>
                        <td>
                            <span class="label--big label--green">83%</span>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col--3">
                            <a href="#" class="figure--circle">
                                <img src="./images/placeholder/jwhite.png" alt="Joe White">
                            </a>
                        </td>
                        <td class="table__col--6">
                            <a href="#">Holly Alvarez</a>
                            <p class="subtext">
                                Java Engineer<br>
                                Portsmouth, CA
                            </p>
                        </td>
                        <td>
                            <span class="label--big label--green">80%</span>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__col--3">
                            <a href="#" class="figure--circle">
                                <img src="./images/placeholder/jwhite.png" alt="Joe White">
                            </a>
                        </td>
                        <td class="table__col--6">
                            <a href="#">Lena Flemming</a>
                            <p class="subtext">
                                Java Engineer<br>
                                Los Angeles, CA
                            </p>
                        </td>
                        <td>
                            <span class="label--big label--green">77%</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Blurb: Case Study -->
        <div class="col--full-6--cell box--padless">
            <article class="exerpt row--expanded">
                <div class="excerpt__hero--img col--full-6" style="background-image: url('./images/placeholder/exerpt-hero.png');"></div>
                <section class="excerpt__content col--full-6 col--right">
                    <header class="box__header">
                        <h2>Engagement Mini Case Study</h2>
                        <h4>3/18/2015</h4>
                    </header>
                    <p>The waies could be said to resemble inured halibuts. A romania is a square's sink.</p>
                    <a class="button--blue button--small" href="#">Read More</a>
                </section>
            </article>
        </div>
    </div>


    <div class="row--widget">
        <!-- Widget: Active Engagement Campaigns -->
        <div class="col--full-12--cell box">
            <header class="row--expanded">
                <div class="col--large-9">
                    <h2>Active Engagement Campaigns <span>(15)</span></h2>
                </div>
                <div class="col--large-3 align--right">
                    <select id="activeEngagementCharts" class="js-fancy" name="activeEngagementCharts">
                        <option value="">Select chart to view</option>
                        <option value="candidate-count-by-pipelines">Candidate Count by Pipelines</option>
                        <option value="candidate-growth-by-pipelines">Candidate Growth by Pipelines</option>
                        <option value="candidate-growth-by-user">Candidate Growth by User</option>
                        <option value="candidate-opt-outs-by-pipelines">Candidate Opt-Outs by Pipelines</option>
                        <option value="engagement-by-pipelines">Engagement by Pipelines</option>
                    </select>
                </div>
            </header>

            <div class="box__table">
                <table class="table">
                    <tr class="table__row">
                        <th class="table__header">Date</th>
                        <th class="table__header">Type</th>
                        <th class="table__header">Campaign Name</th>
                        <th class="table__header">Engagement</th>
                        <th class="table__header">Pipeline</th>
                        <th class="table__header">User</th>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--morePadding">Alan T</td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--morePadding">Alan T</td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--morePadding">Alan T</td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--morePadding">Alan T</td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--morePadding">3/2/2015</td>
                        <td class="table__col--morePadding">Email</td>
                        <td class="table__col--morePadding">Daily Job Alert</td>
                        <td class="table__col--morePadding">67%</td>
                        <td class="table__col--morePadding">Sr. Java Developers in CA</td>
                        <td class="table__col--morePadding">Alan T</td>
                    </tr>

                </table>
            </div>

            <div class="pagination col--12">
                <div class="col--large-2">
                    <select id="show" class="js-fancy" name="show">
                        <option value="5">5 per page</option>
                        <option value="10">10 per page</option>
                        <option value="15">15 per page</option>
                    </select>
                </div>
                <div class="col--large-10 align--right">
                    <a class="pagination__page-link" href="#">1</a>
                    <a class="is-active pagination__page-link" href="#">2</a>
                    <a class="pagination__page-link" href="#">3</a>
                    <a class="pagination__page-link" href="#">4</a>
                    <a class="pagination__page-link" href="#">5</a>
                </div>
            </div>

        </div>
    </div><!-- /row widget -->


</section>
