<!-- Header -->
<header class="header row--expanded">
    <figure class="header__logo col--tiny-4 col--large-12">
        <img src="./images/logo--main--white.svg" alt="getTalent">
    </figure>
    <nav class="header__nav col--tiny-8 col--large-12">
        <form class="header__search">
            <input class="header__search__input" type="text" name="query" autocomplete="off">
            <button class="header__search__submit">
                <span class="icon--search"></span>
            </button>
        </form>
        <a href="#" class="header__link">
            <span class="icon--upload"></span>
        </a>
        <a href="#" class="header__profile">
            <img src="./images/placeholder/profile.png" alt="Change settings">
        </a>
        <ul class="dropdown-menu">
            <li><a ng-click="vm.logout()">Logout</a></li>
        </ul>
    </nav>
</header>
<!-- End Header -->
