/* Move down content because we have a fixed navbar that is 50px tall */
body {
  width: 100%;
  height: 100%;
}

/* Workaround for unwanted route changes due to empty href attributes - see http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#app-content {
  margin-left: $sidenav-width;
}