/* Move down content because we have a fixed navbar that is 50px tall */
body {
  width: 100%;
  height: 100%;
}

/* Workaround for unwanted route changes due to empty href attributes - see http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#app-root {
  position: relative;

  .logo {
    width: 110px;
    height: 30px;
  }

  #app-topnav {
    .navbar-brand {
      position: relative;
      width: $sidenav-width;
      border-right: 1px solid $navbar-default-border;

      .header-toggle {
        display: block;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px 10px 0 0;
        padding: 9px 10px;
        background-color: transparent;
        background-image: none;

        .icon-bar {
          display: block;
          width: 22px;
          height: 2px;
          border-radius: 1px;
          background-color: #888888;
        }

        .icon-bar + .icon-bar {
          margin-top: 4px;
        }
      }
    }

    .login-nav {
      padding: 10px 15px;

      .avatar {
        width: 60px;
        float: left;
        text-align: center;

        img {
          margin: -13px 10px -14px 10px;
          height: 30px;
          width: 30px;
          border-radius: 50em;
        }
      }

      .user {
        display: inline-block;
        text-align: left;
        margin-top: -5px;
        padding: 0;

        .first-name {
          display: block;
          font-size: 11px;
          font-weight: bold;
        }

        .company-name {
          display: block;
          margin-top: -6px !important;
          font-size: 13px;
        }
      }

      .caret-icon {
        display: inline-block;
        width: 30px;
        text-align: center;
      }
    }
  }

  #app-content {
    display: flex;
    min-height: 600px;

    #app-sidenav-wrapper {
      position: relative;
      flex: 0 0 $sidenav-width;
      background-color: $color-sidenav;
      border-right: 1px solid $navbar-default-border;

      #app-sidenav {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;

        .pane-left,
        .pane-right {
          height: 100%;

          a {
            color: #000;
          }
        }

        .pane-left {
          flex: 0 0 $sidenav-left-pane-width;
          border-right: 1px solid $navbar-default-border;

          li {
            margin: 30px 0;

            a {
              padding: 0;
              text-align: center;
              background: #FFF;
              border-right: 7px solid #FFF;

              span {
                display: block;
                margin-top: 10px;
                font-size: 10px;
                font-weight: lighter;
              }

              &:hover {
                border-right: 7px solid $navbar-default-border;
              }
            }

            &.active {
              a {
                border-right: 7px solid $navbar-default-border;
              }
            }

            &.divider {
              height: 1px;
              background-color: $navbar-default-border;
            }
          }
        }

        .pane-right {
          flex: 1 0 auto;

          li {
            border-bottom: 1px solid $navbar-default-border;

            a {
              padding: 25px 15px 15px;
            }

            &.active {
              background-color: #EEEEEE;
            }
          }
        }
      }
    }

    #app-view-wrapper {
      flex: 1 1 auto;
    }
  }

  #app-footer {
    height: $footer-height;
    border-top: 1px solid $navbar-default-border;
    padding: 30px 0;
    font-size: 16px;

    .footer-row {
      height: 52px;
      line-height: 52px;
    }
  }
}
