/* Move down content because we have a fixed navbar that is 50px tall */
body {
  width: 100%;
  height: 100%;
}

/* Workaround for unwanted route changes due to empty href attributes - see http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#app-root {
  position: relative;

  #app-topnav {
    .navbar-brand {
      position: relative;
      width: $sidenav-width;
      border-right: 1px solid $navbar-default-border;

      .header-toggle {
        display: block;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px 10px 0 0;
        padding: 9px 10px;
        background-color: transparent;
        background-image: none;

        .icon-bar {
          display: block;
          width: 22px;
          height: 2px;
          border-radius: 1px;
          background-color: #888888;
        }

        .icon-bar + .icon-bar {
          margin-top: 4px;
        }
      }
    }

    .login-nav {
      padding: 10px 15px;

      .avatar {
        width: 60px;
        float: left;
        text-align: center;

        img {
          margin: -13px 10px -14px 10px;
          height: 30px;
          width: 30px;
          border-radius: 50em;
        }
      }

      .user {
        display: inline-block;
        text-align: left;
        margin-top: -5px;
        padding: 0;

        .first-name {
          display: block;
          font-size: 11px;
          font-weight: bold;
        }

        .company-name {
          display: block;
          margin-top: -6px !important;
          font-size: 13px;
        }
      }

      .caret-icon {
        display: inline-block;
        width: 30px;
        text-align: center;
      }
    }
  }

  #app-sidenav {
    position: absolute;
    width: $sidenav-width;
    left: 0;
    top: $topnav-height;
    bottom: $footer-height;
    background-color: $color-sidenav;
    border-right: 1px solid #000;
  }

  #app-content {
    margin-left: $sidenav-width;
    min-height: 600px;
  }

  #app-footer {
    height: $footer-height;
    border-top: 1px solid $navbar-default-border;
    padding: 30px 0;
    font-size: 16px;

    .footer-row {
      height: 52px;
      line-height: 52px;
    }
  }
}
