/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$color-sample1:                   #EEEEEE;
$color-sample2:                   #AAAAAA;
$color-sidenav:                   #EEEEEE;

/* ----- Widths ----- */
$sidenav-width:                   150px;

// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/* ----- Navbar ----- */
$navbar-default-border: #000000;