/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$color-sample1:                   #EEEEEE;
$color-sample2:                   #AAAAAA;
$color-sidenav:                   #EEEEEE;

/* ----- Widths ----- */
$topnav-height:                   50px;
$sidenav-width:                   200px;
$footer-height:                   200px;

// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/* ----- Navbar ----- */
$navbar-default-border: #000000;
$navbar-margin-bottom:  0px;