/** Temporary global override during setup / remove v2 from all styles after **/

/** Cosmic Overrides **/



/** Angular Material Overrides **/

body {
    color:#555;
}

.md-icon {

}

md-content {
    padding: 30px;
    border-radius: 3px;
}

#v2-pipeline-summaries {
    md-card {
        min-height: 400px;

        .card-top-right-button {
            max-width: 60px;
            text-align: right;
        }
    }
}

#v2-activity-feed {
    .v2-feed {
        background-color: #eee;
        padding: 16px;
        margin: 8px 0;
    }
}

.v2-h-barchart {
    .v2-bar {
        background: #888;
        color: #fff;
        margin: 8px 0;        
    }
}

/** UiX Base **/

/** UiX Grid **/

.v2-module-header {
    font-size:1.4em;
}

/** UiX Utility **/


.v2-btn {
    display:inline-block;
    padding:30px;
    &-rnd {
        border-radius:50px;
        &__blue {
            background: #999;
        }
    }
}

.v2-font {
    &__xxs {
        font-size:.5em;
    }
    &__xs {
        font-size:.6em;
    }
    &__sm {
        font-size:.8em;
    }
    &__med {
        font-size:.9em;
    }
    &__lg {
        font-size: 1.2em;
    }
    &__xlg {
        font-size: 1.6em;
    }
    &__xxlg {
        font-size: 2.9em;
        line-height: 1.5;
    }
}

.v2-float {
    &__left {
        float:left;
    }
    &__right {
        float:right;
    }
}

.v2-clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

.v2-align{
    &__center {
        text-align:center;
    }
    &__right {
        text-align:right;
    }
    &__vertical {
        display:table;
        width:100%;
        > div {
            display:table-cell;
            vertical-align: middle;
            height:80px;
        }
    }
}

.v2-margin {
    &-top {
        &__20 {
            margin-top:20px;
        }
    }
    &-right {
        &__20 {
            margin-right:20px;
        }
    }
    &-bottom {
        &__5 {
            margin-bottom:5px;
        }
        &__20 {
            margin-bottom:20px;
        }
    }
    &-horizontal {
        &__10 {

        }
    }
}

.v2-padding {
    &-right {
        &__20 {
            margin-right:20px;
        }
    }
}

.v2-line-height {
    &__1-4 {
        line-height:1.4;
    }
    &__1-6 {
        line-height:1.6;
    }
    &__2 {
        line-height:2;
    }
}

.module {
    box-sizing: border-box;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    background: #ffffff;
    & > div {
        border-radius: 3px;
        padding: 30px;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .module-title {
        font-size:1.5em;

    }
}

/** UiX Styles **/

.fa-info-circle {
    color:#ccc;
    font-size:14px;
    position:relative;
    top:-7px;
    &:hover {
        color:#888;
        cursor:pointer;
    }
}

.fa-sort-desc {
    font-size:14px;
    position:relative;
    top:-2px;
    &:hover {
        cursor:pointer;
    }
}

.page-title-icon {
    width: 95px;
    img {
        background:#333;
        border-radius:50px;
        width: 80px;
        height: 80px;
    }
}

