/** Temporary global override during setup / remove v2 from all styles after **/

/** Cosmic Overrides **/



/** Angular Material Overrides **/

.system-alerts {
    background-color: $color--blue;
    text-align:center;
    font-weight:$font-weight--regular;
    font-size: $font-size--big;
    color: $color--white;
    padding: $padding--large;
    a {
        color: lighten($color--blue, 20%);
    }
}