body {
    font-weight:400;
}

.md-margin-wrapper {
    margin: 8px;
}

#toast-container {
    @include linear-gradient(to bottom, #ffffff, #dddddd);
    & > div {
        padding:40px 60px;
        border-radius:0px;
        background-color:transparent;
        background-position: 25px center;
        color:#666;
        box-shadow:0 0 4px rgba(0,0,0,.10);
        font-size: 15px;
        &:hover {
            box-shadow:0 0 4px rgba(0,0,0,.10);
        }
        strong {
            color: $color--blue;
        }
        .toast-close-button {
            color:#999;
            font-weight:300;
            position:absolute;
            top:10px;
            right:10px;
            font-size: 11px;
        }
    }
}


.system-alerts {
    background-color: darken($color--blue, 10%);
    text-align:center;
    font-weight:$font-weight--regular;
    font-size: $font-size--main;
    color: $color--white;
    padding: $padding--small;
    a {
        color: lighten($color--blue, 20%);
    }
}

.fa-info-circle {
    color:#ccc;
    margin:0 0 0 3px;
    top:-5px;
    font-size:13px;
    position:relative;
}

.tooltip--info {
    .tooltip-inner {
        padding:20px;
        text-align:left;
        border:1px #ccc solid;
        box-shadow: 0 1px 6px 1px rgba(0,0,0,0.15);
        background:rgba(255,255,255,.5);
    }
}

#v2-pipeline-summaries {
    md-card {
        min-height: 450px;
        height: 450px;

        .card-top-right-button {
            max-width: 60px;
            text-align: right;
        }
    }
}

#v2-activity-feed {
    .v2-feed {
        background-color: #eee;
        padding: 16px;
        margin: 8px 0;
    }
}

.v2-h-barchart {
    .v2-bar {
        background: #888;
        color: #fff;
        margin: 8px 0;
    }
}

#v2-candidate-breakdown {
    md-list-item {
        min-height: 36px;
    }
}

#v2-team-contributors {
    .v2-contributor {
        background-color: #eee;
        margin: 8px 0 8px 20px;

        .md-avatar {
            margin-left: -36px;
        }
    }
}

/** Angular Material Overrides **/




.view__main,
.view__main--pipelines,
.view__main--user,
.view__wrapper--pipelines,
.view__wrapper--user {
    background: #efefef;
}

@mixin card {
    border-radius: 3px;
    box-shadow:none;
    border-right: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;
    color:#444;
    padding:8px 8px;
    background-color:#ffffff;
}

.md-whiteframe-gt {
    @include card;
}

md-card {
    @include card;
    .md-subhead {
        padding-top:0px;
    }
    md-card-content {

    }
    .md-card-title {

    }
    .md-title {
        font-weight:500;
        font-size: 1.4em;
    }
    .md-subhead-alt {
        margin-top:4px;
    }
}

.page-title-icon {
    display:inline-block;
    border-radius:50px;
    overflow:hidden;
    margin-right:15px;
}