// Breadcrumb
.breadcrumb { 
    list-style: none; 
    overflow: hidden; 
    font-size: 13px;
    padding:0px;
    li { 
        float: left;
        margin: 0;

        a {
            color: white;
            text-decoration: none; 
            padding: 6px 0 6px 55px;
            background: hsla(302, 25%, 29%, 1);
            position: relative; 
            display: block;
            float: left;

            &:after {
                content: ' '; 
                display: block; 
                width: 0; 
                height: 0;
                border-top: 30px solid transparent;           /* Go big on the size, and let overflow hide */
                border-bottom: 30px solid transparent;
                border-left: 40px solid hsla(302, 25%, 29%, 1);
                position: absolute;
                top: 50%;
                margin-top: -30px;
                left: 100%;
                z-index: 2;
            }
            
            &:before {
                content: ' '; 
                display: block; 
                width: 0; 
                height: 0;
                border-top: 30px solid transparent;
                border-bottom: 30px solid transparent;
                border-left: 40px solid #efefef;
                position: absolute;
                top: 50%;
                margin-top: -30px; 
                margin-left: 5px;
                left: 100%;
                z-index: 1;
            }

            &:hover {
                background: hsla(302, 25%, 19%, 1);

                &:after {
                    border-left-color: hsla(302, 25%, 19%, 1);
                }
            }
        }

        &:first-child a {            
            padding-left: 10px;
        }

        &:nth-child(2) a {
            background: hsla(302, 25%, 39%, 1);

            &:after {
                border-left-color: hsla(302, 25%, 39%, 1);
            }
        }

        &:nth-child(3) a {
            background: hsla(302, 25%, 49%, 1);

            &:after {
                border-left-color: hsla(302, 25%, 49%, 1);
            }
        }

        &:nth-child(4) a {
            background: hsla(302, 25%, 59%, 1);

            &:after {
                border-left-color: hsla(302, 25%, 59%, 1);
            }
        }

        &:nth-child(5) a {
            background: hsla(302, 25%, 69%, 1);

            &:after {
                border-left-color: hsla(302, 25%, 69%, 1);
            }
        }

        &:last-child a {
            background: transparent !important;
            color: black;
            pointer-events: none;
            cursor: default;

            &:before,
            &:after {
                content: none;
            }
        }
    }
}
