<main class="view" id="app-main">
    <div id="app-view-wrapper" class="view__wrapper">
        <div ui-view class="view"></div>
        <section class="view__sidebar--feed view__sidebar--active feed">
            <div class="feed__inner feed__inner--active">
                <header class="feed__header">
                    <h3>Activity Feed</h3>
                </header>
                <div class="feed__item">
                    <span class="icon--announcements"></span>
                    <span class="feed__item__sub">23 Minutes ago</span>
                    <p><a href="#">Jason Provencher</a> just added 22 candidates to <a href="#">Java Developers</a></p>
                </div>
                <div class="feed__item">
                    <span class="icon--list"></span>
                    <span class="feed__item__sub">23 Minutes ago</span>
                    <p><a href="#">Jason Provencher</a> just added 22 candidates to <a href="#">Java Developers</a></p>
                </div>
                <div class="feed__item">
                    <span class="icon--announcements"></span>
                    <span class="feed__item__sub">23 Minutes ago</span>
                    <p><a href="#">Jason Provencher</a> just added 22 candidates to <a href="#">Java Developers</a></p>
                </div>
                <div class="feed__item">
                    <span class="icon--list"></span>
                    <span class="feed__item__sub">23 Minutes ago</span>
                    <p><a href="#">Jason Provencher</a> just added 22 candidates to <a href="#">Java Developers</a></p>
                </div>
            </div>
        </section>
    </div>
    <div>
        <gt-notification-center></gt-notification-center>
    </div>
</main>
