<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Welcome to getTalent!</title>
        <style type="text/css">
            div.big
            {
                height: 2px;
            }
        </style>
    </head>
    <body style="font-family: Helvetica, Arial; font-size: 12px;">
    <p>Welcome to getTalent!</p>
    <div class="big"></div>
    <p>You&#39;ve been added as a user to the getTalent Pipeline Community system. Here is your account information:</p>
    <div class="big"></div>
    <p>Username: {{email}}</p>
    <p>Password: {{password}}</p>
    <div class="big"></div>
    <p>
        If you have any issues or questions please don&#39;t hesitate to reply to his email
        and reach out.
    </p>
    <div class="big"></div>
    <p>All the best,</p>
    <p>Team getTalent</p>

    </body>
</html>