<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Welcome to getTalent!</title>
        <style type="text/css">
            div.big
            {
                height: 2px;
            }
            span.password_reset_key {
                padding: 6px 20px;
                color: #000;
                border: 1px solid #CCC;
                background-color: #F2F2F2;
                display: inline-block;
                margin: 5px;
            }
        </style>
    </head>
    <body style="font-family: Helvetica, Arial; font-size: 12px;">
    <p>Dear {{name}},</p>
    <div class="big"></div>
    <p>Someone tried to reset your GetTalent password.</p>
    <div class="big"></div>
    <a href="{{reset_password_url}}">Click here to reset your password</a>
    <div class="big"></div>
    <p>Alternatively, you can enter the following password reset code</p>
    <span class="password_reset_key">{{six_digit_token}}</span>
    <div class="big"></div>
    <p>
        If you have any issues or questions please don&#39;t hesitate to reply to his email
        and reach out.
    </p>
    <div class="big"></div>
    <p>All the best,</p>
    <p>Team getTalent</p>

    </body>
</html>