<!-- body consists of a topnav and a ui-view for content -->
<div id="main-app-wrapper" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="app-root">
                    <gt-topnav></gt-topnav>
                    <gt-sidenav></gt-sidenav>
                    <div id="app-content" class="clearfix">
                        <div ui-view></div>
                    </div>
                    <gt-footer></gt-footer>
                </div>
            </div>
        </div>
    </div>
</div>

