<section id="admin-view" class="view__main">

    <div class="row--widget">
        <form class="col--full-12 box" action="#" name="demoSettingsForm">

            <header class="box__header">
                <h2>Demo Settings</h2>
            </header>

            <div class="row--expanded">
                <!-- left half of form -->
                <div class="col--medium-6 form__fieldset--column">

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col" ng-class="{'form__col--error': demoSettingsForm.demoMode.$invalid && (demoSettingsForm.demoMode.$touched || demoSettingsForm.$submitted)}">
                            <h4 class="form__label--shown">Enable Demo Mode? <small class="form__instruction">Refresh required</small></h4>
                            <label class="form__input--toggle">
                                <input gt-float-label type="checkbox" ng-model="vm.demoMode" name="demoMode" ng-change="vm.setDemoModeCookie(vm.demoMode)">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>
