<section id="pipelines-overview-view" class="view-wrapper view__main--pipelines">

    <div layout="column" class="overview-graph">

        <div layout="column" layout-margin>

            <!-- Navigation path -->
            <div layout="row">
                <div ncy-breadcrumb></div>
            </div>
            <!-- End: Navigation path -->

            <!-- Header -->
            <md-content class="page-title md-whiteframe-gt module-padding" layout="row" layout-xs="column" layout-align="center center" >
                <div flex="initial" class="gt-title-icon icon--pipeline"></div>
                <div flex>
                    <h2 class="md-title">My Pipelines</h2>
                </div>
                <div class="page-title-menu">
                    <a ui-sref="/pipelines/[pipeline-id]/smart-lists/create"><div class="gt-menu-icon icon--list-add"></div></a>
                </div>
            </md-content>
            <!-- End: Header -->

        </div>

        <!-- Section overview graph -->
        <div class="area-chart chart-container">
            <div class="">
                <div class="chart-title">
                    <span>
                        Candidates Added Per Month
                        <i class="fa fa-info-circle"  uib-tooltip="This number is calulated by this and this" tooltip-class="tooltip--info" ></i>
                    </span>
                </div>
                <div id="pipelineDetailsViewChart" class="hero-chart"></div>
            </div>
        </div>
        <!-- End: Growth graph -->

    </div>

    <div layout="column" layout-margin>

        <!-- Call-outs -->
        <div class="stat-row" layout="row" layout-wrap>
            <div class="md-whiteframe-gt" flex-gt-md="25" flex-gt-sm="50" flex="100" ng-repeat="callout in vm.callouts">
                <md-content layout="column" layout-align="center center" class="module-padding">
                    <h3 class="md-subhead">{{callout.name}} <i class="fa fa-info-circle"  uib-tooltip="This number is calulated by this and this" tooltip-class="tooltip--info" ></i></h3>
                    <h3 class="md-display-3">{{callout.value}}</h3>
                </md-content>
            </div>
        </div>
        <!-- End: Call-outs -->

        <!-- Tables & Cards -->
        <div layout="row" layout-wrap layout-fill>
            <!-- Top Pipelines Table -->
            <div flex="66" flex-xs="100" flex-sm="100" flex-md="100" layout="row" layout-wrap>

                <md-card flex="initial" class="md-margin">
                    <md-card-content>
                        <md-toolbar class="md-table-toolbar md-default">
                            <div class="md-toolbar-tools">
                                <h2 class="md-title">Pipelines</h2>
                                <div flex></div>

                                <md-icon>search</md-icon>
                                <form flex name="vm.tableData.filter.form" layout-align="start start">
                                    <input type="text" ng-model="vm.tableData.query.filter" ng-model-options="vm.tableData.filter.options" placeholder="search" class="md-input">
                                </form>
                                <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                                    <md-icon>close</md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>

                        <md-table-container class="md-margin">
                            <table md-table md-progress="vm.promise">
                                <thead md-head md-order="vm.tableData.query.order" md-on-reorder="vm.logOrder">
                                <tr md-row>
                                    <th md-column md-order-by="name"><span>Pipeline</span></th>
                                    <th md-column md-numeric md-order-by="candidates" md-desc><span>Candidates</span></th>
                                    <th md-column md-numeric md-order-by="newCandidates" md-desc><span>30d</span></th>
                                    <th md-column md-numeric md-order-by="created"><span>Created</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="p in vm.tableData.pipelines.data
                                    | filter: vm.tableData.query.filter
                                    | orderBy: vm.tableData.query.order
                                    | limitTo: vm.tableData.query.limit : (vm.tableData.query.page -1) * vm.tableData.query.limit">
                                    <td md-cell>{{p.name}}</td>
                                    <td md-cell>{{p.candidates}}</td>
                                    <td md-cell>{{p.newCandidates}}</td>
                                    <td md-cell>{{p.created | date:'MM/d/y'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>

                        <md-table-pagination md-limit="vm.tableData.query.limit" md-page="vm.tableData.query.page" md-total="{{vm.tableData.pipelines.count}}"
                                             md-page-select md-boundary-links
                                             md-on-paginate="vm.logPagination" class="md-margin"></md-table-pagination>
                    </md-card-content>
                </md-card>
            </div>
            <!-- End: Top Pipelines Table -->

            <!-- Cards -->
            <div flex="33" flex-xs="100" flex-sm="100" flex-md="100" layout="column">

                <!-- Current Candidate Usage -->
                <md-card flex="none" class="md-margin md-padding">
                    <md-card-title flex="none">
                        <md-card-title-text>
                            <span class="md-title">Current Candidate Usage<i class="fa fa-info-circle"  uib-tooltip="This number is calulated by this and this" tooltip-class="tooltip--info" ></i></span>
                            <span class="md-subhead">Used vs Available (Talent Pools)</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content flex>
                        <gt-circle-graph angle="75" value="3000" class="gt-circle-graph">
                            <div></div>
                        </gt-circle-graph>
                    </md-card-content>
                </md-card>
                <!-- End: Current Candidate Usage -->

                <!-- Top Performing Campaigns -->
                <md-card flex="none" class="md-margin md-padding">
                    <md-card-title flex="none">
                        <md-card-title-text>
                            <span class="md-title">Top Campaigns<i class="fa fa-info-circle"  uib-tooltip="This number is calulated by this and this" tooltip-class="tooltip--info" ></i></span>
                            <span class="md-subhead">By Candidate Growth</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content flex>
                        <gt-bar-graph angle="75" value="3000" class="gt-bar-graph">
                            <div></div>
                        </gt-bar-graph>
                    </md-card-content>
                </md-card>
                <!-- End: Top Performing Campaigns -->

            </div>
            <!-- End: Cards -->
        </div>
        <!-- End: Tables & Cards -->

    </div>

</section>
