<section id="pipelines-overview-view" class="view__main--pipelines">

    <div layout-padding>

        <div layout="row">
            <div flex="100" class="v2-font__sm"><a href="">Breadcrumb</a> > <a href="">Breadcrumb</a> > Breadcrumb</div>
        </div>

        <header layout="row">
            <div flex="100" class="module">
                <div class="v2-align-vertical">
                    <img class="page-title-icon v2-left v2-margin-right__20" src="//placehold.it/80x80" />
                    <div class="v2-font__xlg">Your Pipelines</div>
                    <div class="v2-font__sm">Created by <a href="">Jason Provencher</a> on 5/22/16</div>
                </div>
            </div>
        </header>

        <div layout="row">
            <div flex="100" class="module"><div style="height:400px;"></div></div>
        </div>

        <div layout="row" layout-xs="column" layout-sm="row" class="v2-align__center">
            <div flex="25" flex-xs="100" flex-sm="50" class="module">
                <div>
                    <div>Callout Box 1</div>
                    <div class="v2-font__xxlg">42.5%</div>
                    <div class="v2-font__med">Call-out Secondary Meta</div>
                </div>
            </div>
            <div flex="25" flex-xs="100" flex-sm="50" class="module">
                <div>
                    <div>Callout Box 1</div>
                    <div class="v2-font__xxlg">42.5%</div>
                    <div class="v2-font__med">Call-out Secondary Meta</div>
                </div>
            </div>
            <div flex="25" flex-xs="100" flex-sm="50" class="module">
                <div>
                    <div>Callout Box 1</div>
                    <div class="v2-font__xxlg">42.5%</div>
                    <div class="v2-font__med">Call-out Secondary Meta</div>
                </div>
            </div>
            <div flex="25" flex-xs="100" flex-sm="50" class="module">
                <div>
                    <div>Callout Box 1</div>
                    <div class="v2-font__xxlg">42.5%</div>
                    <div class="v2-font__med">Call-out Secondary Meta</div>
                </div>
            </div>
        </div>

        <div flex="66" layout="row">
            <div flex="66" class="module">
                <div>
                    <div class="module-title">Module Title</div>
                    <div class="module-desc">This is a module description</div>
                </div>
            </div>
        </div>

        <div flex="33" layout="column">
            <div flex="66" class="module"><div>Callout Box 1</div></div>
        </div>
    </div>
</section>
