<section id="pipelines-overview-view" class="view-wrapper view__main--pipelines">

    <md-content hide class="page-title-2 md-padding">
        <div class="breadcrumbs2">My Pipelines</div>
        <div class="md-padding" layout="row" layout-xs="column" layout-align="center center">
            <div flex="initial" class="gt-title-icon icon--pipeline"></div>
            <div flex>
                <h2 class="md-title">My Pipelines</h2>
            </div>
            <div class="page-title-menu">
                <a ui-sref="pipelines.pipeline.smartlists.create)"><div class="gt-menu-icon">+C</div></a>
                <a ui-sref="pipelines.pipeline.smartlists.create)"><div class="gt-menu-icon icon--list-add">+S</div></a>
            </div>
        </div>
    </md-content>

    <div layout="column" class="overview-graph">

        <div layout="column" layout-margin>

            <!-- Navigation path -->
            <div layout="row">
                <div hide ncy-breadcrumb></div>
                <div layout="row">
                    <ul class="breadcrumb">
                        <!-- ngRepeat: step in steps -->
                        <li>
                            <a href="/dashboard">Google Drive Team</a>
                        </li>
                        <li>
                            <a href="/pipelines">Pipelines</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End: Navigation path -->

            <!-- Header -->
            <md-card class="page-title md-padding" layout="row" layout-xs="column" layout-align="center center" >
                <div flex="initial" class="gt-title-icon icon--pipeline"></div>
                <div flex>
                    <h2 class="md-title">Pipelines</h2>
                </div>
                <div class="page-title-menu">
                    <a ui-sref="pipelines.pipeline.smartlists.create)"><div class="gt-menu-icon icon--announcements"></div></a>
                    <a ui-sref="pipelines.pipeline.smartlists.create)"><div class="gt-menu-icon icon--list-add"></div></a>
                </div>
            </md-card>
            <!-- End: Header -->

        </div>

        <!-- Growth chart -->
        <div class="area-chart-section">
            <div class="module-padding">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>Candidate Growth</span>
                        </h2>
                        <span flex></span>
                        <div layout="row" layout-align="end">
                            <md-radio-group class="segmented-button-group" ng-model="vm.chartFilters.daysBack" ng-change="vm.updateChart(vm.chartFilters.daysBack)">
                                <md-radio-button ng-repeat="option in vm.daysFilterOptions" ng-value="option">{{option}}</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </md-toolbar>
            </div>

            <div class="area-chart-wrap" gt-resize on-resize="vm.redrawChart()">
                <highchart config="vm.chartConfig" class="area-chart"></highchart></div>
            </div>
        </div>
        <!-- End: Growth chart -->

    </div>




    <div layout="column" class="md-padding" layout-wrap>

        <!-- Call-outs -->
        <div class="stat-row md-margin" layout="row" layout-wrap>
            <div class="gt-card" flex="25" ng-repeat="callout in vm.callouts">
                <md-content layout="column" layout-align="center center">
                    <span class="md-subhead">{{callout.name}} <i class="fa fa-info-circle"  uib-tooltip="{{callout.tooltip}}" tooltip-class="tooltip--info" ></i></span>
                    <span class="md-display-3">{{callout.value}}</span>
                    <span class="md-subhead" ng-bind-html="callout.change"></span>
                </md-content>
            </div>
        </div>
        <!-- End: Call-outs -->



        <!-- Tables & Cards -->
        <div layout="row" layout-wrap layout-fill>

            <!-- Top Pipelines Table -->
            <div flex="70" layout="column" layout-wrap>

                <md-card flex="grow">
                    <md-toolbar class="md-table-toolbar md-default">
                        <div class="md-toolbar-tools">
                            <div>
                                <div class="md-title">
                                    Pipelines
                                </div>
                                <div class="md-subhead">
                                    Complete list of pipelines in this talent pool
                                </div>
                            </div>
                            <div flex></div>

                            <md-icon>search</md-icon>
                            <form flex name="vm.tableData.filter.form" layout-align="start start">
                                <input type="text" ng-model="vm.tableData.query.filter" ng-model-options="vm.tableData.filter.options" placeholder="search" class="md-input">
                            </form>
                            <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                                <md-icon>close</md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>

                    <md-content>

                        <md-table-container class="md-margin">
                            <table md-table md-progress="vm.promise">
                                <thead md-head md-order="vm.tableData.query.order" md-on-reorder="vm.logOrder">
                                <tr md-row>
                                    <th width="250" md-column md-order-by="name"><span>Name</span></th>
                                    <th md-column md-numeric md-order-by="candidates" md-desc><span>Candidates</span></th>
                                    <th md-column md-numeric md-order-by="engagement" md-desc><span>Engagement</span></th>
                                    <th md-column md-numeric md-order-by="newCandidates" md-desc><span>Growth -30d</span></th>
                                    <th md-column md-numeric md-order-by="created"><span>Created</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="p in vm.tableData.pipelines.data
                                | filter: vm.tableData.query.filter
                                | orderBy: vm.tableData.query.order
                                | limitTo: vm.tableData.query.limit : (vm.tableData.query.page -1) * vm.tableData.query.limit">
                                    <td md-cell><a href="/pipelines/">{{p.name}}</a></td>
                                    <td md-cell>{{p.candidates}}</td>
                                    <td md-cell>{{p.engagement}}</td>
                                    <td md-cell>{{p.newCandidates}}</td>
                                    <td md-cell>{{p.created | date:'MM/d/y'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>

                        <md-table-pagination md-limit="vm.tableData.query.limit" md-page="vm.tableData.query.page" md-total="{{vm.tableData.pipelines.count}}"
                                             md-page-select md-boundary-links
                                             md-on-paginate="vm.logPagination" class="md-margin"></md-table-pagination>
                    </md-content>
                </md-card>

            </div>
            <!-- End: Top Pipelines Table -->

            <div flex="30" layout="column">

                <div flex="none" layout="column">

                    <!-- Begin: Current Candidate Usage -->
                    <md-card flex>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-title">
                                    Candidate Usage
                                    <i class="fa fa-info-circle"  uib-tooltip="Total number of pipelines in your talent pool" tooltip-class="tooltip--info" ></i>
                                </span>
                                <span class="md-subhead">Unique candidates in Talent Pipelines</span>
                            </md-card-title-text>
                        </md-card-title>
                        </md-card-title>
                        <md-content style="text-align:center">
                            <div class="spacing-adjust">
                                <gt-circle-graph layout="row" angle="55" value="11,925" class="gt-circle-graph">
                                    <div></div>
                                </gt-circle-graph>
                            </div>
                        </md-content>
                    </md-card>
                    <!-- End: Current Candidate Usage -->

                </div>

            </div>


        </div>
        <!-- End: Tables & Cards -->

    </div>

</section>
