<section id="talent-pools-dashboard-candidates-view" class="view__main">

    <div layout-padding layout="row">
        <div flex layout-margin layout-padding class="module">
            <div class="mod-header">Talent Pools Candidates Dashboard</div>
        </div>
    </div>

    <md-content layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="75" layout-xs="column" layout="row" layout-wrap>
            <div flex-xs flex-gt-xs="50" layout-gt-xs="row">
                <md-card flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Pipeline Distribution</span>
                            <span class="md-subhead">Large</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="50" layout-gt-xs="row">
                <md-card flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Top 5 Pipelines by Growth</span>
                            <span class="md-subhead">Extra Large</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" layout-align="space-between">
                        <div class="md-media-xl card-media"></div>
                        <md-card-actions layout="column">
                            <md-button class="md-icon-button" aria-label="Favorite">
                                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Settings">
                                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Share">
                                <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                            </md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="50" flex-gt-sm="33" layout-gt-xs="row">
                <md-card flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Recent Pipelines</span>
                            <span class="md-subhead">Medium</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-md card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="50" flex-gt-sm="33" layout-gt-xs="row">
                <md-card flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Candidates Added Today</span>
                            <span class="md-subhead">Medium</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-md card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div flex-xs flex-gt-xs="50" flex-gt-sm="33" layout="column">
                <div flex-xs flex-gt-xs="50" layout-gt-xs="row">
                    <md-card flex>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Team Contributions</span>
                                <span class="md-subhead">Medium</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-md card-media"></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex-xs flex-gt-xs="50" layout-gt-xs="row">
                    <md-card flex>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Total Pipelines</span>
                                <span class="md-subhead">Medium</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-md card-media"></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
        <div flex-xs flex-gt-xs="25" layout="row">
            <div flex layout-gt-xs="row">
                <md-card flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Recent Activity</span>
                            <span class="md-subhead">Small</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </md-content>

</section>
