<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pusher Test</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body>
<div class="container">
    <a href="/roost" class="btn btn-primary">Roost</a>
    <a href="/onesignal" class="btn btn-primary">OneSIgnal</a>
</div>


</body>
</html>