<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{=URL('static','bootstrap_2_2_2/css/bootstrap.min.css')}}" rel="stylesheet">
    <title>Join the Kaiser Talent Community</title>
    <meta name="description" content="Join the Kaiser Talent Community - recruiting software by getTalent" />
    <meta name="keywords" content="Kaiser, Recruiting, Software, Cloud, Talent, Community" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style type="text/css">
        .container {
            width:inherit;
            background-image: url( {{= URL('static', 'images/kaiser_background.jpg') }} );
            background-repeat: no-repeat;
            height: 587px;
        }
        input.span3, textarea.span3, .uneditable-input.span3 {
            width: 191px;
        }
        select, textarea, input[type="text"], input[type="email"] {
            font-size: 12px;
            margin-bottom: 6px;
        }
        input.span6, textarea.span6, .uneditable-input.span6 {
            width: 416px;
        }
        .span6 {
            width: 431px;
        }
        input.span2, textarea.span2, .uneditable-input.span2 {
            width: 97px;
        }
        .span4 {
            width: 300px;
        }
        #state {
            margin-left: 20px;
        }
    </style>
</head>


<body>

<div class="container">
    {{ if mode == 'form': }}
    <div class="row">
        <div class="span6" style="margin-left:30px;margin-top:10px">
            <h1><p style="text-align:center" class="text-error">MAKE YOUR MOVE</p></h1>
            <p>Want to receive information that's tailored to you? Please fill out the form below and tell us about your career aspirations.</p>
        </div>
    </div>
    <div class="row">
        <div class="span7" style="margin-left:30px">
            <form name="widget" method="post" autocomplete="off" action="{{= URL('widget', 'submit', args=request.args, vars=request.vars) }}">
                <input type="hidden" name="is_special" value="1" />
                <div class="control-group">
                    <label class="control-label" for="firstName">First name</label>
                    <div class="controls controls-row">
                        <input class="span3" type="text" required id="firstName" name="firstName" placeholder="First name" value="{{= form_fields.get('firstName') or '' }}" />
                        <input rel="tooltip" class="span3" type="text" required id="lastName" name="lastName" placeholder="Last name" value="{{= form_fields.get('lastName') or '' }}" />
                    </div>
                </div>
<!--
                <div class="control-group">
                    <label class="control-label" for="lastName">Last name</label>
                    <div class="controls">
                        <input type="text" required id="lastName" name="lastName" placeholder="Last name" value="{{= form_fields.get('lastName') or '' }}" />
                    </div>
                </div>
-->
                <div class="control-group">
                    <label class="control-label" for="emailAdd">Email</label>
                    <div class="controls">
                        <input class="span6" type="email" data-validation-message="Must be valid email" required id="emailAdd" name="emailAdd" placeholder="Email" value="{{= form_fields.get('emailAdd') or '' }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="city">City</label>
                    <div class="controls controls-row">
                        <input class="span4" type="text" required id="city" name="city" placeholder="City" value="{{= form_fields.get('city') or '' }}" />
                        <input class="span2" type="text" required id="state" name="state" placeholder="State" value="{{= form_fields.get('state') or '' }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="university">University</label>
                    <div class="controls">
                        <input class="span6"  autocomplete="off" type="text" required id="university" name="university" placeholder="University" value="{{= form_fields.get('university') or '' }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="degree">Degree</label>
                    <div class="controls controls-row">
                        <select class="span6" name="degree" id="degree" required>
                            <option value="">Degree</option>
                            {{ degrees = ['Associates', 'Bachelors', 'Masters', 'Doctorate', 'Professional', 'Other'] }}
                            {{ for degree in degrees: }}
                            <option value="{{= degree }}">{{= degree }}</option>
                            {{ pass }}
                        </select>
                        <input type="text" class="span2 other" style="display:none" id="degreeOther" name="degreeOther" placeholder="Other degree" value="{{= form_fields.get('degreeOther') or '' }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="major">Major</label>
                    <div class="controls controls-row">
                        {{ majors = ['Actuarial Sciences', 'Biochemistry', 'Biology', 'Biomedical Sciences', 'Business ', 'Chemistry', 'Clinical Laboratory Technology', 'Computer & Information Sciences', 'Economics', 'English & Literature', 'General & Interdisciplinary Studies', 'Health Care Administration', 'Health Information Technology', 'Mathematics', 'Nursing', 'Oncology', 'Ophthalmology', 'Optometry', 'Physics', 'Pre-Law', 'Pre-Med', 'Psychology', 'Public Health Administration', 'Radiology', 'Statistics', 'Other'] }}
                        <select class="span6" name="major" id="major" required>
                            <option value="">Major</option>
                            {{ for major in majors: }}
                            <option value="{{= major }}">{{= major }}</option>
                            {{ pass }}
                        </select>
                        <input type="text" class="span2 other" style="display:none" id="majorOther" name="majorOther" placeholder="Other major" value="{{= form_fields.get('majorOther') or '' }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="graduation">Graduation Year</label>
                    <div class="controls">
                        {{ graduations = [] }}
                        {{ for year in range(2011, 2020): }}
                        {{ for semester in ['Spring', 'Fall/Winter', 'Summer']: }}
                        {{ graduations.append("%s %s" % (semester, year)) }}
                        {{ pass }}
                        {{ pass }}
                        <select class="span6" name="graduation" id="graduation" required>
                            <option value="">Graduation Year</option>
                            {{ current_year = graduations[0].split(' ')[1] }}
                            <optgroup label="{{= current_year }}" >

                            {{ for i, graduation in enumerate(graduations): }}
                            {{ this_year = graduations[i].split(' ')[1] }}
                            {{ if current_year != this_year: }}
                            {{ current_year = this_year }}
                            </optgroup>
                            <optgroup label="{{= this_year }}" >
                            {{ pass }}
                            <option value="{{= graduation }}">{{= graduation }}</option>
                            {{ pass }}

                            </optgroup>
                        </select>
                    </div>
                </div>
                <!--
                <div class="control-group">
                    <label class="control-label" for="state">State</label>
                    <div class="controls">
                        <input type="text" required id="state" name="state" placeholder="State" value="{{= form_fields.get('state') or '' }}" />
                    </div>
                </div>
                -->
                <div class="control-group">
                    <label class="control-label" for="interestId">Areas of Interest</label>
                    <div class="controls controls-row">
                        <select class="span6" name="interestId" id="interestId">
                            <option value="">Areas of Interest</option>
                            {{ for interest in areas_of_interest: }}
                            <option value="{{= interest.id }}" {{= XML('selected="selected"') if form_fields.get('interestId') == interest.id else ''}} >{{= interest.description }}</option>
                            {{ pass }}
                        </select>
                    </div>
                    <!--
                    <label style="display:none" class="control-label" for="interestInfo">Other Area of Interest</label>
                    <div class="controls">
                        <input type="text" class="other" name="interestInfo" placeholder="Other" id="interestInfo" style="display:none" />
                    </div>
                    -->
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="offset2 btn btn-warning">Submit</button>
                    </div>
                </div>
                <p style="margin-left:134px">
                    <small>
                        <a target="_blank" href="http://gettalent.com">Recruiting software</a> by getTalent
                    </small>
                </p>
            </form>
        </div>
    </div>
    {{ elif mode == 'success': }}
    <div class="row">
        <div class="span6" style="margin-left:30px;margin-top:30px;">
            <p class="alert alert-success" >Your information has successfully been submitted.</p>
            <p>Thank you for your interest in our talent community. </p>
        </div>
    </div>
    {{ elif mode == 'error': }}
    <div class="row">
        <div class="span6" style="margin-left:30px;margin-top:30px">
            <div class="alert alert-error">
                <p>An error occurred while sending your information. Please refresh the page and try again.</p>
            </div>
        </div>
    </div>
    {{ pass }}
</div> <!-- /container -->

{{
response.files.append(URL('static', 'js/jquery-1.7.2.min.js'))
response.files.append(URL('static', 'bootstrap_2_2_2/js/bootstrap.min.js'))
response.files.append(URL('static', 'js/jquery.simpleplaceholder.js'))
response.files.append(URL('static', 'js/modernizr-2-6-2-custom.js'))
response.include_files()
}}

<script type="text/javascript">

    var _gaq = _gaq || [];
    var universitiesList = [];

    _gaq.push(['_setAccount', 'UA-33209718-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    $(document).ready(function() {
        $("label").hide();
        // $("input, select").addClass("span5");

        $('input:text[placeholder]').simplePlaceholder();

        // Load up university list
        $.ajax({
            type: "post",
            dataType: "json",
            url: "{{= URL('widget', 'get_universities_list.json') }}",
            success: function(response) {
                universitiesList = response['universities_list'];
                $("#university").typeahead({
                    items: 10,
                    source: universitiesList
                });
            }
        });

        // "Other" dropdowns functionality
        $("select").change(function(e) {
            if ($(this).find("option:selected").text() === "Other") {
                $(this).removeClass("span6").addClass("span4");
                $(this).siblings('input').hide().slideDown();
            }
            else if ($(this).siblings('input.other').is(':visible')) {
                var $select = $(this);
                $(this).siblings('input').show().slideUp(400, function() {
                    $select.removeClass("span4").addClass("span6");
                });
            }
        });
        // Input verification
        $("input[required], select[required]").blur(function(e) {
            checkRequired(this);
        });

        // Tooltips/

        $("input[required], select[required]").each(function(i) {
            $(this).tooltip({
                placement: 'right',
                title: $(this).data('validation-message') || 'Required',
                trigger: 'manual'
            });
        });


        $("form").submit(function(e) {
            var validInputs = true;
            $("input[required], select[required]").each(function(index) {
                var isValid = checkRequired(this);
                validInputs = validInputs && isValid;
            });
            if (! validInputs) e.preventDefault();
            return validInputs;
        });
    });
    function checkRequired(input) {
        var $input = $(input);
        var isValid;

        if (! $input.val() || $input.hasClass('invalid')) {
            if (! $input.siblings('.tooltip').length) {
                $input.parent().children("input:last, select:last").tooltip('show');
            }
            $input.closest(".control-group").removeClass('success').addClass('error');
            isValid = false;
        } else {
           $input.parent().children("input:last, select:last").tooltip('hide');

            $input.closest(".control-group").removeClass('error').addClass('success');
            isValid = true;
        }

        return isValid;
    }

</script>

</body>
</html>
