<section id="campaign-event-edit-view" class="view__main">

    <div class="row--widget">
        <form class="col--full-12 box" action="#" name="editEventForm">

            <header class="box__header">
                <h2>Edit Event</h2>
            </header>

            <div class="row--expanded">
                <!-- left half of form -->
                <div class="col--medium-6 form__fieldset--column">
                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked" ng-class="{'form__col--error': editEventForm.eventTitle.$invalid && (editEventForm.eventTitle.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventTitle">Event Title</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.eventTitle" id="eventTitle" name="eventTitle" type="text" placeholder="Event Title" required>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-8 form__col" ng-class="{'form__col--error': editEventForm.eventType.$invalid && (editEventForm.eventType.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventType">Event Type</label>
                            <select gt-float-label class="form__input--select"
                                ng-model="vm.event.type" ng-options="option.name for option in vm.eventTypes track by option.id" id="eventType" name="eventType" required>
                                <option value="" ng-show="!vm.event.type">Event Type</option>
                            </select>
                        </div>

                        <div class="col--medium-4 form__col" ng-class="{'form__col--error': editEventForm.eventActive.$invalid && (editEventForm.eventActive.$touched || editEventForm.$submitted)}">
                            <h4 class="form__label--shown">Active Event?</h4>
                            <label class="form__input--toggle">
                                <input gt-float-label type="checkbox" ng-model="vm.event.active" name="eventActive">
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked" ng-class="{'form__col--error': editEventForm.eventDetails.$invalid && (editEventForm.eventDetails.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventDetails">Event Details</label>
                            <textarea gt-float-label class="form__input--textarea" ng-model="vm.event.details" name="eventDetails" placeholder="Event Details"></textarea>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.eventOrganizer.$invalid && (editEventForm.eventOrganizer.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventOrganizer">Event Organizer Name</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.organizer.name" id="eventOrganizer" name="eventOrganizer" type="text" placeholder="Event Organizer Name">
                        </div>

                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.eventOrganizerContentEmail.$invalid && (editEventForm.eventOrganizerContentEmail.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventOrganizerContentEmail">Event Organizer Content Email</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.organizer.email" id="eventOrganizerContentEmail" name="eventOrganizerContentEmail" type="text" placeholder="Event Organizer Email">
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked" ng-class="{'form__col--error': editEventForm.aboutEventOrganizer.$invalid && (editEventForm.aboutEventOrganizer.$touched || editEventForm.$submitted)}">
                            <label class="form__label--shown" for="aboutEventOrganizer">About Event Organizer <small class="form__instruction">Enter info here about who is organizing the event</small></label>
                            <textarea gt-float-label class="form__input--textarea" ng-model="vm.event.organizer.about" name="aboutEventOrganizer"></textarea>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked" ng-class="{'form__col--error': editEventForm.eventRegistrationInstructions.$invalid && (editEventForm.eventRegistrationInstructions.$touched || editEventForm.$submitted)}">
                            <label class="form__label--shown" for="eventRegistrationInstructions">Event Registration Instructions</label>
                            <textarea gt-float-label class="form__input--shortTextarea" ng-model="vm.event.registrationInstructions" name="eventRegistrationInstructions"></textarea>
                        </div>
                    </div>
                </div>
                <!-- /left half of form -->

                <!-- right half of form -->
                <div class="col--medium-6 form__fieldset--column">
                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.eventStartDate.$invalid && (editEventForm.eventStartDate.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventStartDate">Event Start Date</label>
                            <input gt-float-label pick-a-date="vm.event.startDate" ng-model="vm.event.startDateText" class="form__input picker__input" id="eventStartDate" name="eventStartDate" type="text" placeholder="Event Start Date" required>
                        </div>

                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.eventEndDate.$invalid && (editEventForm.eventEndDate.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventEndDate">Event End Date</label>
                            <input gt-float-label pick-a-date="vm.event.endDate" ng-model="vm.event.endDateText" class="form__input picker__input" id="eventEndDate" name="eventEndDate" type="text" placeholder="Event End Date" required>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.eventStartTime.$invalid && (editEventForm.eventStartTime.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventStartTime">Event Start Time</label>
                            <input gt-float-label pick-a-time="vm.event.startDate" ng-model="vm.event.startTimeText" class="form__input picker__input" id="eventStartTime" name="eventStartTime" type="text" placeholder="Event Start Time" required>
                        </div>

                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.eventEndTime.$invalid && (editEventForm.eventEndTime.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventEndTime">Event End Time</label>
                            <input gt-float-label pick-a-time="vm.event.endDate" ng-model="vm.event.endTimeText" class="form__input picker__input" id="eventEndTime" name="eventEndTime" type="text" placeholder="Event End Time" required>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked" ng-class="{'form__col--error': editEventForm.locationName.$invalid && (editEventForm.locationName.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="locationName">Location Name</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.location.name" id="locationName" name="locationName" type="text" placeholder="Location Name" required>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked" ng-class="{'form__col--error': editEventForm.streetAddress.$invalid && (editEventForm.streetAddress.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="streetAddress">Street Address</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.location.address" id="streetAddress" name="streetAddress" type="text" placeholder="Street Address" required>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.city.$invalid && (editEventForm.city.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="city">City</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.location.city" id="city" name="city" type="text" placeholder="City" required>
                        </div>

                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.state.$invalid && (editEventForm.state.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="state">State</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.location.state" id="state" name="state" type="text" placeholder="State" required>
                        </div>

                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.zip.$invalid && (editEventForm.zip.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="zip">Zip</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.location.zip" id="zip" name="zip" type="text" placeholder="Zip" required>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.eventCost.$invalid && (editEventForm.eventCost.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="eventCost">Event Cost</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.cost" id="eventCost" name="eventCost" type="text" placeholder="Event Cost">
                        </div>

                        <div class="col--medium-6 form__col" ng-class="{'form__col--error': editEventForm.maxAttendees.$invalid && (editEventForm.maxAttendees.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="maxAttendees">Max Attendees</label>
                            <input gt-float-label class="form__input" ng-model="vm.event.capacity" id="maxAttendees" name="maxAttendees" type="number" placeholder="Max Attendees" min="0">
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked" ng-class="{'form__col--error': editEventForm.smartListToInvite.$invalid && (editEventForm.smartListToInvite.$touched || editEventForm.$submitted)}">
                            <label class="form__label" for="SelectSmartListsToInvites">Select Smart Lists to Invite</label>
                            <select ng-model="vm.event.smartListsToInvite" ng-options="option.name for option in vm.smartLists track by option.id"
                                gt-float-label required id="smartListToInvite" class="form__input--select" name="smartListToInvite">
                                <option value="" ng-show="!vm.event.smartListsToInvite">Select Smart Lists to Invite</option>
                            </select>
                            <small class="form__input-info">Candidate Leads <span class="pill">457</span></small>
                        </div>
                    </div>

                    <div class="form__fieldset row--expanded">
                        <div class="col--medium-12 form__col form__col--stacked" ng-class="{'form__col--error': editEventForm.headerImage.$invalid && (editEventForm.headerImage.$touched || editEventForm.$submitted)}">
                            <h4 class="form__label--shown">Event Header Image</h4>

                            <label class="js-inputFile form__input--file">
                                <input type="file" gt-file-model="vm.event.headerImage" id="headerImage" name="headerImage" aria-label="File browser">
                                <span data-placeholder="Choose file..."></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /right half of form -->
            </div>

            <div class="form__fieldset--footer row--expanded">
                <div class="col--medium-12">
                    <a class="button--blue" href="#">Save Event</a>
                    <a class="button--blueOutline" href="#">View Event</a>
                </div>
            </div>

        </form>
    </div>

</section>
