// ---------------------------------------------------
// Includes / Space
// ---------------------------------------------------

@mixin inc--space--squeezed {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin inc--space--stubbedLast {
  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin inc--space--stubbedFirst {
  &:first-of-type {
    margin-top: 0;
  }
}

@mixin inc--space--pressed {
  padding-left: 0;
  padding-right: 0;
}

@mixin inc--space--vertpad {
  padding-top: $padding--normal;
  padding-bottom: $padding--normal;
}

@mixin inc--space--vertpad--small {
  padding-top: $padding--small;
  padding-bottom: $padding--small;
}

@mixin inc--space--vertpad--tiny {
  padding-top: $padding--tiny;
  padding-bottom: $padding--tiny;
}

@mixin inc--space--vertpad--teeny {
  padding-top: $padding--teeny;
  padding-bottom: $padding--teeny;
}

@mixin inc--space--vertpad--large {
  padding-top: $padding--large;
  padding-bottom: $padding--large;
}
