<section class="view__sidebar--feed--fixed feed--fixed" ng-class="{'view__sidebar--active': vm.isBarOpen}">
    <div class="view__sidebar__wrapper--feed feed__inner__wrapper">
        <div class="feed__inner" ng-class="{'feed__inner--active': vm.isInnerOpen}">
            <header class="feed__header" ng-click="vm.toggleNotificationCenter()">
                <h3>Activity Feed</h3>
            </header>
            <div class="feed__content">
                <div class="feed__item">
                    <span class="icon--announcements"></span>
                    <span class="feed__item__sub">2 Minutes ago</span>
                    <p><a href="#">Jason Provencher</a> just added 22 candidates to <a href="#">Java Developers</a></p>
                </div>
                <div class="feed__item">
                    <span class="icon--people"></span>
                    <span class="feed__item__sub">5 Minutes ago</span>
                    <p><a href="#">Chris Chang</a> just added 10 candidates to your<a href="#">talent pool</a></p>
                </div>
                <div class="feed__item">
                    <span class="icon--announcements"></span>
                    <span class="feed__item__sub">2hrs ago</span>
                    <p><a href="#">Lenny Seager</a> responded to your email</p>
                </div>
                <div class="feed__item">
                    <span class="icon--list"></span>
                    <span class="feed__item__sub">4hrs ago</span>
                    <p><a href="#">Mike Gueyne</a> just accepted an <a href="#">event invitation</a></p>
                </div>
                <div class="feed__item">
                    <span class="icon--people"></span>
                    <span class="feed__item__sub">5 Hours ago</span>
                    <p><a href="#">Lauren Freeman</a> just added 5 candidates to <a href="#">iOS Developers</a></p>
                </div>
                <div class="feed__item">
                    <span class="icon--people"></span>
                    <span class="feed__item__sub">8 Minutes ago</span>
                    <p><a href="#">Rachel Thompson</a> just added 5 candidates to <a href="#">Java Developers</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
