<section class="view__sidebar--feed--fixed feed--fixed" ng-class="{'view__sidebar--active': vm.isBarOpen}">
    <div class="view__sidebar__wrapper--feed feed__inner__wrapper">
        <div class="feed__inner" ng-class="{'feed__inner--active': vm.isInnerOpen}">
            <header class="feed__header" ng-click="vm.toggleNotificationCenter()">
                <h3>Activity Feed</h3>
            </header>
            <div class="feed__content">
                <div class="feed__item" ng-hide="vm.activities.length">
                    <p>No activity</p>
                </div>
                <div class="feed__item" ng-repeat="activity in vm.activities | orderBy: '-id'">
                    <span ng-class="activity.icon"></span>
                    <span class="fa fa-remove pull-right" ng-click="vm.removeSingleActivity(activity.id)"></span>
                    <span class="feed__item__sub" am-time-ago="activity.added_time"></span>
                    <div ng-bind-html="activity.feedMessage || 'No message'"><a href="#">{{ activity.user_name }}</a> just added 22 candidates to <a href="#">Java Developers</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
