<section id="admin-user-add-view" class="view__main">

    <div layout-padding layout="row">
        <div flex layout-margin layout-padding class="module">
            <div class="mod-header">Add User</div>
        </div>
    </div>

    <div layout-padding layout="row">
        <div flex layout-margin layout-padding class="module">
            <form name="createUser" ng-submit="event.preventDefault();vm.createUser(vm.user)">
                <input name="userFirstName" required ng-model="vm.user.firstName" placeholder="First Name">
                <input name="userLastName" required ng-model="vm.user.lastName" placeholder="Last Name">
                <input type="email" name="userEmail" required ng-model="vm.user.userName" placeholder="Email">
                <input name="userDomain" required ng-model="vm.user.domain" placeholder="Domain">
                <button type="submit">Add</button>
            </form>
        </div>
    </div>

</section>
