<a class="button--blue" href="#" tooltips tooltip-template="This tooltip shows up on the left" tooltip-side="left" tooltip-append-to-body="true">Left</a>


<a class="button--blue" href="#" tooltips tooltip-template="This tooltip on the top" tooltip-side="top" tooltip-append-to-body="true">Top</a>

<a class="button--blue" href="#" tooltips tooltip-template="Tooltip bottom" tooltip-side="bottom">Bottom</a>

<a class="button--blue" href="#" tooltips tooltip-template="Tooltip right" tooltip-side="right" tooltip-append-to-body="false">Right</a>
