<section id="pipeline-detail-view" class="view-wrapper view__main--pipelines">

    <div layout="column" layout-margin layout-padding>
    	
    	<div flex="grow" class="v2-font__sm">
    		<a href="">Breadcrumb</a> > <a href="">Breadcrumb</a> > Breadcrumb
    	</div>

        <div flex class="module">
            <div class="mod-header">
            	<div layout="row" layout-xs="column" layout-align="center center">
            		<div flex="none">
            			<div class="page-title-icon">
	                        <img src="//placehold.it/80x80" />
	                    </div>
            		</div>
            		<div flex>
            			<div>
	                        <div class="v2-font__xlg">Pipeline Name</div>
	                        <div class="v2-font__sm v2-line-height__2">Created by <a href="">Haohong Xu</a> on 5/22/16</div>
	                    </div>
            		</div>
            		<div flex="none" layout="row" layout-xs="column" layout-sm="column">
            			<md-button class="md-raised md-primary">Add Candidates</md-button>
                    	<md-button class="md-raised md-primary">Create Campaign</md-button>
                    	<md-button class="md-raised md-primary">Create Smartlist</md-button>
            		</div>
            	</div>
            </div>
        </div>
    </div>

</section>
