<section id="pipeline-detail-view" class="view-wrapper view__main--pipelines">

    <div layout="column" layout-margin>
        
        <!-- Navigation path -->
        <div>
            <p class="md-caption">
                <a href="">Breadcrumb</a> > <a href="">Breadcrumb</a> > Breadcrumb
            </p>
        </div>
        <!-- End: Navigation path -->

        <!-- Header -->
        <md-content layout="row" layout-xs="column" layout-align="center center" class="md-whiteframe-z1">
            <div class="page-title-icon">
                <img src="//placehold.it/80x80" />
            </div>
            <div flex>
                <h3 class="md-title">Pipeline Name</h3>
                <h3 class="md-body-1">Created by <a href="">Haohong Xu</a> on 5/22/16</h3>
            </div>          
            <div layout="row" layout-xs="column" layout-sm="column">
                <md-button class="md-raised md-primary">Add Candidates</md-button>
                <md-button class="md-raised md-primary">Create Campaign</md-button>
                <md-button class="md-raised md-primary">Create Smartlist</md-button>
            </div>
        </md-content>
        <!-- End: Header -->

        <!-- Growth graph -->
        <md-content layout="row" class="md-whiteframe-z1">
            <div style="height:400px;">Pipeline Growth Chart</div>
        </md-content>
        <!-- End: Growth graph -->

        <!-- Metrics -->
        <div layout="row" layout-wrap class="v2-align__center">
            <div layout-fill layout-margin flex="25" flex-md="50" flex-sm="100" flex-xs="100" ng-repeat="metric in vm.metrics">
                <md-content class="md-whiteframe-z1">
                    <h3 class="md-title">{{metric.name}} <i class="fa fa-info-circle"></i></h3>
                    <h3 class="md-display-3">{{metric.value}}</h3>
                </md-content>
            </div>
        </div>
        <!-- End: Metrics -->

        <!-- Summaries and Activity Feed -->
        <div layout="row" layout-wrap>
            <!-- Summaries -->
            <div id="v2-pipeline-summaries" flex="66" flex-xs="100" flex-sm="100" flex-md="100" layout="row" layout-align="start start" layout-wrap>

                <!-- Top Skills -->
                <div flex="50" flex-xs="100" flex-sm="100">
                    <md-card class="md-margin">
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">Top Skills<i class="fa fa-info-circle"></i></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content flex>
                            <md-list class="v2-h-barchart">
                                <md-list-item class="v2-bar" ng-style="{width: topSkill.width + '%'}" ng-repeat="topSkill in vm.topSkills">
                                    <div class="md-list-item-text" flex layout="row" layout-align="space-between center">
                                        <h4>{{topSkill.title}}</h4>
                                        <h4>{{topSkill.value}}</h4>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>
                <!-- End: Top Skills -->
                
                <!-- Candidate Breakdown -->
                <div flex="50" flex-xs="100" flex-sm="100">
                    <md-card class="md-margin">
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">Candidate Breakdown<i class="fa fa-info-circle"></i></span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content flex>
                        </md-card-content>
                    </md-card>
                </div>
                <!-- End: Candidate Breakdown -->
                
                <!-- Top Performing Campaigns -->
                <div flex="50" flex-xs="100" flex-sm="100">
                    <md-card class="md-margin">
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">Top Performing Campaigns<i class="fa fa-info-circle"></i></span>
                                <span class="md-subhead">By Candidates Added</span>
                            </md-card-title-text>
                            <span class="md-caption card-top-right-button">Create Campaign</span>
                        </md-card-title>
                        <md-card-content flex>
                            <md-list class="v2-h-barchart">
                                <md-list-item class="v2-bar" ng-style="{width: topSkill.width + '%'}" ng-repeat="topSkill in vm.topSkills">
                                    <div class="md-list-item-text" flex layout="row" layout-align="space-between center">
                                        <h4>{{topSkill.title}}</h4>
                                        <h4>{{topSkill.value}}</h4>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>See more</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <!-- End: Top Performing Campaigns -->
                
                <!-- Team Contributors -->
                <div flex="50" flex-xs="100" flex-sm="100">
                    <md-card class="md-margin">
                        <md-card-title flex="none">
                            <md-card-title-text>
                                <span class="md-title">Team Contributors<i class="fa fa-info-circle"></i></span>
                            </md-card-title-text>
                            <span class="md-caption card-top-right-button">Invite Team</span>
                        </md-card-title>
                        <md-card-content flex>
                        </md-card-content>
                    </md-card>
                </div>
                <!-- End: Team Contributors -->
            </div>
            <!-- End: Summaries -->

            <!-- Activity Feed -->
            <div id="v2-activity-feed" flex="33" flex-xs="100" flex-sm="100" flex-md="100">
                <md-card class="md-margin">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-title">Pipeline Activity Feed<i class="fa fa-info-circle"></i></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list>
                            <div class="md-whiteframe-z1 v2-feed" ng-repeat="feed in vm.feeds">
                                <span class="md-caption">{{feed.time}}</span>
                                <h4 class="md-body-2">{{feed.text}}</h4>
                            </div>
                        </md-list>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <span class="md-title">Load more...</span>
                    </md-card-actions>
                </md-card>
            </div>
            <!-- End: Activity Feed -->
        </div>
        <!-- End: Summaries and Activity Feed -->
    </div>

</section>
