<main class="view--login">

    <!-- Main view -->
    <section class="view__main--login">        
        <div layout="row" layout-align="center center">

            <div flex-sm="70" flex-gt-sm="50" flex-gt-md="30" layout="column">

                <!-- Header -->
                <div layout="row" layout-align="center center" class="login-header">
                    <img ng-src="../images/logo--main--white.svg" width="180">
                </div>
                <!-- Header -->


                <!-- Form wrap -->
                <md-content layout="column" layout-align="space-between stretch" 
                    class="md-whiteframe-z2 forgot-password-form-wrap">
                    
                    <div layout="row" layout-align="center center">
                        <span class="md-display-1">Forgot Password</span>
                    </div>

                    <div layout="row" layout-align="center center" ng-if="vm.errorMessage">
                        <span class="error-message">{{vm.errorMessage}}</span>
                    </div>

                    <form name="forgotPasswordForm" ng-submit="vm.sendForgotPasswordRequest(vm.email)">
                         <md-input-container md-no-float class="md-block">
                            <input required
                                autofocus
                                type="email"
                                name="email" 
                                placeholder="Email Address" 
                                ng-model="vm.email" />
                            <div ng-messages="forgotPasswordForm.email.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="email">It must be an e-mail address.</div>
                            </div>
                        </md-input-container>                        

                        <div layout="row" layout-align="center center">
                            <md-button type="submit" class="md-primary md-raised">Submit</md-button>
                        </div>
                    </form>
                </md-content>
                <!-- End: Form wrap -->
            </div>

        </div>
        
    </section>

</main>
