<section id="candidate-profile-view" class="view__main">

    <!-- Candidate Info -->
    <div class="row--green row--expanded row--table">
        <div class="col--medium-6--cell col--vmiddle">
            <div class="row--widget">
                <div class="col--tiny-3--cell">
                    <figure class="figure--circle candidate-protrait__placeholder">
                        <span class="candidate-protrait__placeholder__initials"><img src="./images/placeholder/prof_placeholder_richard.png" /></span>
                    </figure>
                </div>
                <div class="col--tiny-9--cell col--vmiddle">
                    <h1>Thomas Maxwell</h1>

                    <div class="box__content-row candidate__job-group">
                        <h4>Current Job:</h4>
                        <h3>Web Developer</h3>
                    </div>

                    <div class="box__content-row candidate__job-group">
                        <h4>Previous Jobs:</h4>
                        <h3>Junior Web Developer</h3>
                        <h3>Intermediate Web Developer</h3>
                    </div>

                    <div class="box__footer-btns">
                        <a href="" class="button--whiteOutline button--small"> <span class="icon--file"></span>View Resume</a>
                        <a href="" class="button--whiteOutline button--small"> <span class="icon--file"></span>Upload Files</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Candidate Engagement -->
        <div class="col--medium-6--cell col--vmiddle box--basic box--lightGreen">
            <header class="box__header align--right">
                <p>
                    Last updated on November 30, 2015
                    <a href="#" class="button--white button--small">Edit</a>
                </p>
            </header>

            <div class="row--widget">
                <div class="col--medium-6">
                    <header class="box__header box__center">
                        <h3>Engagement</h3>
                    </header>

                    <figure gt-circle-graph data="vm.pipelineEngagement.graph.data" class="circleGraph""></figure>
                </div>

                <div class="col--medium-6">
                    <div class="box__content-row recent-engagements__module">
                        <p>June 28, 2015</p>
                        <h3>Entered Talent Pool</h3>
                        <small>Source: ATS Import by getTalent</small>
                    </div>

                    <div class="box__content-row recent-engagements__module">
                        <p>August 15, 2015</p>
                        <h3>Last communication via event invitation</h3>
                        <small>by Matt Collins</small>
                    </div>

                    <div class="box__content-row recent-engagements__module">
                        <p>October 31, 2015</p>
                        <h3>Last communication via event invitation</h3>
                        <small>by Matt Collins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row--widget">
        <!-- Contact Information -->
        <div class="col--full-4--cell box">
            <header class="box__header">
                <h2>
                    <span class="icon--person"></span> Contact Information
                </h2>
            </header>

            <div class="box__content-row contact-info__module">
                <div class="col--tiny-2">
                    <span class="icon--mail"></span>
                </div>
                <div class="col--tiny-10">
                    <p><a href="mailto:thomas@gmail.com" target="_blank">thomas@gmail.com</a></p>
                    <small>Updated 06/02/2015</small>
                </div>
            </div>

            <div class="box__content-row contact-info__module">
                <div class="col--tiny-2">
                    <span class="icon--location"></span>
                </div>
                <div class="col--tiny-10">
                    <p>
                        <a href="https://www.google.com/maps/place/805+Brookmere+Dr,+Edmonds,+WA+98020/@47.8188902,-122.371736,17z/data=!3m1!4b1!4m2!3m1!1s0x54901ae101583deb:0xbf459b589ef5198e" target="_blank">
                            805 Brookmere Drive <br>
                            Edmonds, WA 98020 <br>
                            USA
                        </a>
                    </p>
                    <small>Updated 06/02/2015</small>
                </div>
            </div>

            <div class="box__content-row contact-info__module">
                <div class="col--tiny-2">
                    <span class="icon--phone"></span>
                </div>
                <div class="col--tiny-10">
                    <p><a href="tel:18316007780" target="_blank">831-600-7780</a></p>
                    <small>Updated 06/02/2015</small>
                </div>
            </div>

            <div class="box__footer-btns">
                <a href="" class="button--lightGray button--small">View All</a>
            </div>
        </div>

        <!-- Pipeline Inclusion -->
        <div class="col--full-4--cell box">
            <header class="box__header">
                <h2>
                    <span class="icon--organize"></span> Pipeline Inclusion (6)
                </h2>
            </header>

            <div class="box__content-row pipeline-inclusion__module">
                <p><a href="#">Javascript & Web Devs</a> <small>(79 Candidates)</small></p>
                <p><a href="#">Front End Developer</a> <small>(1,264 Candidates)</small></p>
                <p><a href="#">Project Manager</a> <small>(4,068 Candidates)</small></p>
                <p><a href="#">DBAs for Fall Contract</a> <small>(237 Candidates)</small></p>
                <p><a href="#">Oracle Certified Candidates</a> <small>( Candidates)</small></p>
            </div>

            <div class="box__footer-btns">
                <a href="" class="button--lightGray button--small">View All</a>
            </div>
        </div>

        <!-- Team Views -->
        <div class="col--full-4--cell box">
            <header class="box__header">
                <h2>
                    <span class="icon--people"></span> Team Views
                </h2>
            </header>

            <div class="box__content-row team-views__module">
                <div class="col--teeny-6">
                    <img width="80" src="./images/placeholder/prof_placeholder_frank.png" alt="Frank Lyons">
                    <p><a href="">Frank Lyons</a></p>
                    <small>Last Viewed 06/02/2015</small>
                </div>

                <div class="col--teeny-6">
                    <img width="80" src="./images/placeholder/prof_placeholder_tula.png" alt="Tula Martin">
                    <p><a href="">Tula Martin</a></p>
                    <small>Last Viewed 07/27/2015</small>
                </div>
            </div>

            <div class="box__content-row team-views__module">
                <div class="col--teeny-6">
                    <img width="80" src="./images/placeholder/prof_placeholder_richard.png" alt="Richard Young">
                    <p><a href="">Richard Young</a></p>
                    <small>Last Viewed 08/02/2015</small>
                </div>

                <div class="col--teeny-6">
                    <img width="80" src="./images/placeholder/prof_placeholder_jane.png" alt="Jane Quon">
                    <p><a href="">Jane Quon</a></p>
                    <small>Last Viewed 09/12/2015</small>
                </div>
            </div>

            <div class="box__footer-btns">
                <a href="" class="button--lightGray button--small">View All</a>
            </div>
        </div>
    </div>


    <div class="row--widget">

        <!-- Left Side -->
        <div class="col--full-6--cell">

            <!-- Skills -->
            <div class="box">
                <header class="box__header">
                    <div class="col--large-6">
                        <h2>
                            <span class="icon--person"></span> Skills
                        </h2>
                    </div>
                    <div class="col--large-6 align--right tabs__icon-nav">
                        <a class="js-tab--link tabs__icon-nav__link tab-active" href="#skill-bars">
                            <span class="icon--mail"></span>
                        </a>
                        <a class="js-tab--link tabs__icon-nav__link" href="#cloud">
                            <span class="icon--cloud"></span>
                        </a>
                    </div>
                </header>

                <div class="row">
                    <div id="skill-bars" class="js-tab--content tabs__content tabs__content--active">
                        <figure class="progress">
                            <h4>Senior Java Developers in CA</h4>

                            <div class="progress__inner" style="width: 100%">
                                <div class="progress__bar"></div>
                            </div>
                        </figure>
                        <figure class="progress">
                            <h4>Vererans Hiring Initiative</h4>

                            <div class="progress__inner"  style="width: 78%">
                                <div class="progress__bar"></div>
                            </div>
                        </figure>
                        <figure class="progress">
                            <h4>Oracle DBAs Overseas</h4>

                            <div class="progress__inner" style="width: 50%">
                                <div class="progress__bar"></div>
                            </div>
                        </figure>
                        <figure class="progress">
                            <h4>Oracle DBAs Overseas</h4>

                            <div class="progress__inner" style="width: 25%">
                                <div class="progress__bar"></div>
                            </div>
                        </figure>
                    </div>

                    <div id="cloud" class="js-tab--content tabs__content">
                        <figure class="progress">
                            <h4>Noodle Maker</h4>

                            <div class="progress__inner" style="width: 80%">
                                <div class="progress__bar"></div>
                            </div>
                        </figure>
                        <figure class="progress">
                            <h4>Vererans Hiring Initiative</h4>

                            <div class="progress__inner"  style="width: 72%">
                                <div class="progress__bar"></div>
                            </div>
                        </figure>
                        <figure class="progress">
                            <h4>Oracle DBAs Overseas</h4>

                            <div class="progress__inner" style="width: 50%">
                                <div class="progress__bar"></div>
                            </div>
                        </figure>
                        <figure class="progress">
                            <h4>Oracle DBAs Overseas</h4>

                            <div class="progress__inner" style="width: 45%">
                                <div class="progress__bar"></div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div><!-- /Skills -->

            <!-- Work Experience -->
            <div class="box">
                <header class="box__header">
                    <h2>
                        <span class="icon--work"></span> Work Experience
                    </h2>
                </header>
                <ul class="list--blocks">
                    <li>
                        <div class="col--full-2--cell col--vmiddle">
                            <img src="./images/placeholder/logo_google.png" alt="Google">
                        </div>
                        <div class="col--full-10--cell col--vmiddle">
                            <h3>Senior Web Developer, Google</h3>
                            <p>The zeitgeist contends that a hardcover is the nail of a russian. We know that some posit the middling blizzard to be less than dying. The tawdry archeology comes from a stockish attempt. The shiest seed reveals itself as a woodwind kidney to those who look.</p>
                        </div>
                    </li>
                    <li>
                        <div class="col--full-2--cell col--vmiddle">
                            <img src="./images/placeholder/logo_facebook.png" alt="Facebook">
                        </div>
                        <div class="col--full-10--cell col--vmiddle">
                            <h3>Web Developer, Facebook</h3>
                            <p>As far as we can estimate, waitresses are glottic routes. The bills could be said to resemble lento decisions. A sphagnous rod without divisions is truly a spaghetti of columned anthropologies. The mustached observation reveals itself as a retained fibre to those who look.</p>
                        </div>
                    </li>
                    <li>
                        <div class="col--full-2--cell col--vmiddle">
                            <img src="./images/placeholder/logo_cloudflare.png" alt="CloudFlare">
                        </div>
                        <div class="col--full-10--cell col--vmiddle">
                            <h3>Web Developer, CloudFlare</h3>
                            <p>Mines are deathless substances. They were lost without the addle wrist that composed their dungeon. Extending this logic, few can name a cheerless elephant that isn't a joyless sail. One cannot separate couches from woesome mosques.</p>
                        </div>
                    </li>
                </ul>
            </div><!-- /Work Experience -->

            <!-- Education -->
            <div class="box">
                <header class="box__header">
                    <h2>
                        <span class="icon--education"></span> Education
                    </h2>
                </header>
                <ul class="list--blocks">
                    <li>
                        <div class="col--full-2--cell col--vmiddle">
                            <img src="./images/placeholder/logo_stanford.png" alt="The Google">
                        </div>
                        <div class="col--full-10--cell col--vmiddle">
                            <h3>MSCS, Stanford University</h3>
                            <p>As far as we can estimate, some posit the gruffish limit to be less than trickless. However, a biplane of the intestine is assumed to be a bracing almanac. The lumpish hurricane reveals itself as a hammy plant to those who look.</p>
                        </div>
                    </li>
                    <li>
                        <div class="col--full-2--cell col--vmiddle">
                            <img src="./images/placeholder/logo_santa_clara.png" alt="The Google">
                        </div>
                        <div class="col--full-10--cell col--vmiddle">
                            <h3>BA Computer Sciences, Santa Clara University</h3>
                            <p>A low sees a yard as an unswayed puma. The unmoaned Sunday reveals itself as a dotted manager to those who look. Few can name a lingual deposit that isn't a custom nephew. A modest stock's hallway comes with it the thought that the crushing bath is a church.</p>
                        </div>
                    </li>
                </ul>
            </div><!-- /Education -->

            <!-- Miscellaneous Data -->
            <div class="box">
                <header class="box__header">
                    <h2>
                        <span class="icon--education"></span> Miscellaneous Data
                    </h2>
                </header>

                <table class="table">
                    <tr class="table__row">
                        <td class="table__col--4">
                            <h3>Certification in Oracle 9i</h3>
                        </td>
                        <td class="table__col--4">
                            <p>2001</p>
                        </td>
                        <td class="table__col--4">
                            <p>Oracle University, Reston</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--4">
                            <h3>Military Service</h3>
                        </td>
                        <td class="table__col--4">
                            <p>2010-2015</p>
                        </td>
                        <td class="table__col--4">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </div><!-- /Miscellaneous Data -->
        </div><!-- /Left Side -->

        <!-- Right Side -->
        <div class="col--full-6--cell">

            <!-- Custom Fields -->
            <div class="box">
                <header class="box__header">
                    <h2>
                        <span class="icon--custom-fields"></span> Custom Fields
                    </h2>
                </header>

                <table class="table">
                    <tr class="table__row">
                        <td class="table__col--4">
                            <h3>Previous Applicant</h3>
                        </td>
                        <td class="table__col--8">
                            <p>No</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--4">
                            <h3>Taleo CanID</h3>
                        </td>
                        <td class="table__col--8">
                            <p>2084713</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--4">
                            <h3>US Citizen</h3>
                        </td>
                        <td class="table__col--8">
                            <p>Yes</p>
                        </td>
                    </tr>
                </table>
            </div><!-- /Custom Fields -->

            <!-- Recent Activity -->
            <div class="box">
                <header class="box__header">
                    <div class="col--large-6">
                        <h2>
                            <span class="icon--speech"></span> Recent Activity
                        </h2>
                    </div>
                    <div class="col--large-6 align--right box__header__with-link fancy-select--small">
                        <select id="activeEngagementCharts" class="form__input--select" name="activeEngagementCharts">
                            <option value="">Select Filter</option>
                            <option value="everything">Everything</option>
                            <option value="socialMedia">Social Media</option>
                            <option value="email">Email</option>
                            <option value="events">Events</option>
                            <option value="meetups">Meetups</option>
                        </select>

                        <a href="#" class="button--blue button--small">Add New</a>
                    </div>
                </header>

                <table class="table">
                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="table__icon icon--twitter"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>12/10/2015</h4>
                            <p>Follow you on Twitter</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="table__icon icon--calendar"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>12/8/2015</h4>
                            <p>Registered with Meetup event</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="table__icon icon--raised-hand"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>12/4/2015</h4>
                            <p>Raised hand re: New Opportunites</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="table__icon icon--calendar"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>12/1/2015</h4>
                            <p>Reserved a spot on your EventBrite hackathon</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="table__icon icon--checked"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>11/23/2015</h4>
                            <p>Attended your meetup at DevCon</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="table__icon icon--mail-open"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>11/22/2015</h4>
                            <p>Email opened</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="table__icon icon--mail"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>11/18/2015</h4>
                            <p>Email sent</p>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__col--2 table__col--center">
                            <span class="table__icon icon--thumbs-up"></span>
                        </td>
                        <td class="table__col--10">
                            <h4>11/15/2015</h4>
                            <p>Thomas Maxwell joined your pipeline</p>
                        </td>
                    </tr>
                </table>
            </div><!-- /Recent Activity -->

            <!-- Social -->
            <div class="box social__module">
                <header class="box__header">
                    <div class="col--large-6">
                        <h2>
                            <span class="icon--speech"></span> Social
                        </h2>
                    </div>
                    <div class="col--large-6 align--right tabs__icon-nav">
                        <a class="js-tab--link tabs__icon-nav__link tab-active" href="#social--github">
                            <span class="icon--twitter"></span>
                        </a>
                    </div>
                </header>

                <div class="row">
                    <div id="social--github" class="js-tab--content tabs__content tabs__content--active">
                        <div class="box__content-row social__module__metrics">
                            <div class="col--teeny-4">
                                <h3 class="social__module__metrics__number">66</h3>
                                <h4 class="social__module__metrics__title">Followers</h4>
                            </div>

                            <div class="col--teeny-4">
                                <h3 class="social__module__metrics__number">423</h3>
                                <h4 class="social__module__metrics__title">Following</h4>
                            </div>

                            <div class="col--teeny-4">
                                <h3 class="social__module__metrics__number">307</h3>
                                <h4 class="social__module__metrics__title">Starred</h4>
                            </div>
                        </div>

                        <div class="box__content-row">
                            <div class="col--tiny-1--cell col--vmiddle">
                                <span class="social__module__event-icon icon--github-comment"></span>
                            </div>
                            <div class="col--tiny-11--cell col--vmiddle">
                                <small class="social__module__time"><a href="#" target="_blank">9 hours ago</a></small>
                                <h4 class="social__module__info"><a href="#" target="_blank">franzejr</a> commented on a pull request <a href="#" target="_blank">franzejr/ruby-tricks#31</a></h4>
                                <small class="social__module__subinfo">Cool stuff, <a href="#" target="_blank">@jadercorrea</a>! Can someone review the code?</small>
                            </div>
                        </div>

                        <div class="box__content-row">
                            <div class="col--tiny-1--cell col--vmiddle">
                                <span class="social__module__event-icon icon--github-comment"></span>
                            </div>
                            <div class="col--tiny-11--cell col--vmiddle">
                                <small class="social__module__time"><a href="#" target="_blank">9 hours ago</a></small>
                                <h4 class="social__module__info"><a href="#" target="_blank">franzejr</a> commented on a pull request <a href="#" target="_blank">franzejs/betterspecs</a></h4>
                                <small class="social__module__subinfo">Cool stuff, <a href="#" target="_blank">@onebree</a> done! :)</small>
                            </div>
                        </div>

                        <div class="box__content-row">
                            <div class="col--tiny-1--cell col--vmiddle">
                                <span class="social__module__event-icon icon--github-commit"></span>
                            </div>
                            <div class="col--tiny-11--cell col--vmiddle">
                                <small class="social__module__time"><a href="#" target="_blank">9 hours ago</a></small>
                                <h4 class="social__module__info"><a href="#" target="_blank">franzejr</a> pushed to <a href="#" target="_blank">fix-broken-link</a> at <a href="#" target="_blank">franzejs/betterspecs</a></h4>
                                <small class="social__module__subinfo">Cool stuff, <a href="#" target="_blank">de3e7e7</a> Update Bitfluxx name link</small>
                            </div>
                        </div>
                    </div> <!-- /Github -->

                    <div id="linkedin" class="js-tab--content tabs__content">
                        <h1>LinkedIn Content</h1>
                        <p>A walrus is a cell from the right perspective. If this was somewhat unclear, the snooty vegetable comes from a peaceful channel. Unsoiled reindeers show us how charleses can be joins.</p>
                    </div>

                    <div id="twitter" class="js-tab--content tabs__content">
                        <h1>Twitter Content</h1>
                        <p>In modern times an offer of the twist is assumed to be a paneled revolve. A selection of the toothbrush is assumed to be a stopping napkin. Extending this logic, authors often misinterpret the noodle as a perceived fiction, when in actuality it feels more like a ruling december. A shock is an egypt's bun. Some besieged chesses are thought of simply as minibuses.</p>
                    </div>

                    <div id="stack-overflow" class="js-tab--content tabs__content">
                        <h1>StackExchange stuff</h1>
                        <p>Some assert that a meal is the cheese of a spike. Though we assume the latter, authors often misinterpret the leek as an asquint pie, when in actuality it feels more like a gainly lyric. A bulky jam's weight comes with it the thought that the often stretch is a back. Nowhere is it disputed that a fear is a sprucing metal.</p>
                    </div>

                </div>
            </div><!-- /Social -->

            <!-- Notes -->
            <div class="box">
                <header class="box__header">
                    <h2>
                        <span class="icon--notes"></span> Notes
                    </h2>
                </header>

                <form class="notes__modules" action="#">
                    <textarea class="form__input--textarea" name="candidateNotes">Overall Thomas has been highly engaged in his field. Socially he is active and seems to be a voice for his vertical. Location might be a concern</textarea>

                    <div class="form__fieldset--footer">
                        <button class="button--blue">Save</button>
                    </div>
                </form>
            </div><!-- /Notes -->
        </div><!-- /Right Side -->
    </div>

</section>
