<!-- Sidebar -->
<section class="view__sidebar">

    <nav>
        <div style="padding:30px 70px 0px 30px; background:#ccc;">
            <h2>User</h2>
            <ul>
                <li><a href="">My Profile</a></li>
                <li><a href="">My Account</a></li>
                <li><a href="">Organization</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Settings</a></li>
            </ul>
            <h2>Settings</h2>
            <ul>
                <li><a href="">My Widgets</a></li>
                <li><a href="">Email Settings</a></li>
                <li><a href="">Custom Fields</a></li>
            </ul>
            <h2>Data Management</h2>
            <ul>
                <li><a href="">Talent Pools</a></li>
                <li><a href="">Pipelines</a></li>
                <li><a href="">Campaigns</a></li>
                <li><a href="">Candidates</a></li>
                <li><a href="">Settings</a></li>
            </ul>
            <h2>Other Testing Links</h2>
            <ul>
                <li><a href="">User Notifications</a></li>
                <li><a href="">System Alerts</a></li>
                <li><a href="">Modal</a></li>
                <li><a href="">First Time UX</a></li>
            </ul>
        </div>
    </nav>
</section>
<!-- End Sidebar -->
